<!doctype html>
<html>

<head>
    <title>How Tax Brackets Work in the United States</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" />
    <script src="https://www.chartjs.org/dist/2.9.4/Chart.min.js"></script>
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-2.8.3.min.js'></script>
    <script src="YearlyTaxes.js"></script>
    <script src="PlotlyHelper.js"></script>
    <script src="ChartHelper.js"></script>
    <script src="TaxCalculator.js"></script>
    <link href="Styles.css" rel="stylesheet">
</head>

<body>
    <button id="toggleBreakDown" class="pure-button button-toggle" onclick="toggleVisibility('synopsis', 'Synopsis', this)">Hide Synopsis</button>
    <div id="synopsis" class="bordered centered">
        <h2>How Tax Brackets Work in the United States - Synopsis</h2>
        <p>
            When taxes are calculated, everyone's first bracket is taxed equally. Once an individual's yearly income surpasses the first
            bracket, any amount of income above the first bracket and below the next bracket is taxed at the next
            bracket's rate.
        </p>
        <p>
            A deduction is something that reduces an individual's taxable income. Someone could make $40,000, and if
            they deducted $10,000, they would only get taxed on $30,000.  Every year a Standard Deduction is established that applies for everyone by default.  However, if someone could show they spent more on deductible expenses than the standard, they could use their own deductions instead.
        </p>
        <p>
            Every year, US tax brackets are redefined by law.  By looking at income and tax brackets per year, we can see how changes in tax policy affect incomes differently.
        </p>
        <p>
            Please see the interactive examples below.  You can show and hide sections of the page when you are done with them.
        </p>
        <br />
    </div>
    
    <div id="app">
        
        <button id="toggleBreakDown" class="pure-button button-toggle" onclick="toggleVisibility('breakdown', 'Breakdown', this)">Hide Breakdown</button>
        <div id="breakdown" class="bordered centered">
            <h3>Specific Income Breakdown for a Single Year</h3>
            <p>
                Here is how the taxes would be calculated for a specific income based on the selected Tax Year.
                The amount of tax is shown per bracket, and the effective tax rate for the income is shown below.
            </p>
            <div id="configuration" class="centered">
                <div>
                    <select id="selectTaxYear" v-model="selectedTaxYearBreakdown" v-on:change="calculateBreakdown()"
                        class="pure-input-rounded">
                        <option value="" disabled selected>Select a tax year to pull the tax brackets for a single file that
                            year.</option>
                        <option v-for="(item, key, index) in getTaxYears()" :value="item">{{key}}</option>
                    </select>
                </div>
            </div>
            <br />
            <div id="breakdownInput" >
                Enter a specific income to show its breakdown <input type="number" step="1000" id="specificIncome"
                v-model="specificIncomeBreakdown.startingAmount" v-on:change="calculateBreakdown()" />
                <input type="range" class="range" min="5000" max="800000" id="rangeForBreakdownInput" v-model="specificIncomeBreakdown.startingAmount" v-on:input="calculateBreakdown()" />
            </div>

            <br />
            <button id="calculateBreakdown" class="pure-button" onclick="calculateBreakdown()">Calculate
                Breakdown</button>
            <table class="pure-table pure-table-bordered">
                <tr>
                    <th>Income Bracket</th>
                    <th>Amount Taxed in Bracket</th>
                    <th>Tax Rate</th>
                    <th>Tax Amount</th>
                </tr>
                <tr v-for="breakdown in specificIncomeBreakdown.components">
                    <td>${{ formatNumberForDisplay(breakdown.bracket) }}</td>
                    <td>${{ formatNumberForDisplay(breakdown.max) }}</td>
                    <td>{{ formatNumberForDisplay(breakdown.taxRate) }}%</td>
                    <td>${{ formatNumberForDisplay(breakdown.taxAmount) }}</td>
                </tr>
            </table>
            <br />
            <table class="pure-table pure-table-bordered">
                <tr>
                    <td>Income specified was</td>
                    <td>${{ formatNumberForDisplay(specificIncomeBreakdown.calculatedIncome) }}</td>
                </tr>
                <tr>
                    <td>Standard Deduction was</td>
                    <td>${{ formatNumberForDisplay(taxDeductionAmount) }}</td>
                </tr>
                <tr>
                    <td>The total amount of tax owed would be</td>
                    <td>${{ formatNumberForDisplay(specificIncomeBreakdown.totalAmount) }}</td>
                </tr>

                <tr>
                    <td>The effective tax rate would be</td>
                    <td>{{ formatDecimalAsPercent(specificIncomeBreakdown.effectiveTaxRate) }}</td>
                </tr>

                <tr>
                    <td>The net income after tax would be</td>
                    <td>${{ formatNumberForDisplay(specificIncomeBreakdown.netIncome) }}</td>
                </tr>
            </table>
            <br />
        </div>
        
        <button id="toggleEffectiveTopology" class="pure-button button-toggle" onclick="toggleVisibility('EffectiveTopology', 'Effective Rate Topology (3D)', this)">Hide Effective Rate Topology (3D)</button>
        <div id="EffectiveTopology" class="bordered centered">
            <h4>
                Effective Tax Topology over the years
            </h4>
            <p>
                This is a 3d graph that aims to show how effective tax rate changes year over year across a range of
                incomes.
            </p>
            <p>
                Performance Note: If your page stutters, it could help to decrease the number of steps so fewer points need to be rendered on some of the graphs below.
            </p>
            <ul id="graphConfiguration" class="no-bullets">
                <li>Start <input type="number" id="min" v-model="min" step="1000" /></li>
                <li>End <input type="number" id="max" v-model="max" step="1000" /></li>
                <li>Step Count <input type="number" id="step" min="5" max="30" v-model="step" /></li>
                <li><button id="rebuildGraph" onclick="buildPlotlyTopology()" class="pure-button">Rebuild Graphs</button></li>
            </ul>
            <label for="rangeForStepCount">Step Count</label><input type="range" class="range" min="5" max="30" id="rangeForStepCount" v-model="step" v-on:input="buildPlotlyTopology()" />
            
            <div id="topologyGraph"></div>
            <br />
        </div>
        
        <button id="toggleSingleIncomeByYearChart" class="pure-button button-toggle" onclick="toggleVisibility('SingleIncomeByYearChart', 'Incomes for Year', this)">Hide Incomes for Year</button>
        <div id="SingleIncomeByYearChart" class="bordered centered">
            <h4>
                Range of Incomes for a Specific Year
            </h4>
            <p>
                This is what a range of incomes would look like for the year chosen in the drop down at the top of the page.
            </p>
            <p>
                Performance Note: If your page stutters, it could help to decrease the number of steps so fewer points need to be rendered on some of the graphs below.
            </p>
            <div>
                <select id="selectTaxYear" v-model="selectedTaxYearIncomeRangeGraph" v-on:change="rebuildGraph()"
                    class="pure-input-rounded">
                    <option value="" disabled selected>Select a tax year to pull the tax brackets for a single file that
                        year.</option>
                    <option v-for="(item, key, index) in getTaxYears()" :value="item">{{key}}</option>
                </select>
            </div>
            <br />
            Compare To: 
            <div>
                <select id="selectTaxYear" v-model="selectedTaxYearIncomeRangeGraphComparison" v-on:change="rebuildGraph()"
                    class="pure-input-rounded">
                    <option value="" disabled selected>Select a tax year to pull the tax brackets for a single file that
                        year.</option>
                    <option v-for="(item, key, index) in getTaxYears()" :value="item">{{key}}</option>
                </select>
            </div>
            <br />
            <ul id="graphConfigurationSingleYear" class="no-bullets">
                <li>Start <input type="number" id="minSingleYear" v-model="minSingleYear" step="1000" /></li>
                <li>End <input type="number" id="maxSingleYear" v-model="maxSingleYear" step="1000" /></li>
                <li>Step Count <input type="number" id="stepSingleYear" min="5" max="30" v-model="stepSingleYear" /></li>
                <button id="rebuildGraphSingleYear" onclick="rebuildGraph()" class="pure-button">Rebuild Graphs</button>
            </ul>
            <label for="rangeForStepCountSingleYear">Step Count</label><input type="range" class="range" min="5" max="30" id="rangeForStepCountSingleYear" v-model="stepSingleYear" v-on:input="rebuildGraph()" />
            
            <div class="canvas">
                <canvas id="canvas"></canvas>
            </div>
            <br />
        </div>
        
        <button id="toggleTaxAmountYearly" class="pure-button button-toggle" onclick="toggleVisibility('TaxAmountYearly', 'Taxes over Time', this)">Hide Taxes over Time</button>
        <div id="TaxAmountYearly" class="bordered centered">
            <h4>
                Taxes over Time
            </h4>
            <p>
                With some years worth of tax bracket definitions, we can look at how an amount would be taxed over the
                years. Here you can experiment to see how different incomes are affected by yearly changes.
            </p>
            <div id="TaxAmountYearlyConfig">
                Amount: <input type="number" step="1000" id="amountForYearlyGraph" v-model="amountForYearlyGraph" v-on:change="rebuildYearlyGraph()" step="100" />
                <input type="range" class="range" min="5000" max="500000" id="rangeForYearlyGraph" v-model="amountForYearlyGraph" v-on:input="rebuildYearlyGraph()" />
            <button id="rebuildYearlyGraph" onclick="rebuildYearlyGraph()" class="pure-button">Rebuild Graph</button>
            </div>
            <div class="canvas">
                <canvas id="canvasYearly"></canvas>
            </div>
        </div>
        <br />
    </div>
    
    <div id="furtherResources" class="centered">
        <h4>Further Resources</h4>
        <p>
            For historical tax rates, please visit <a
                href="https://files.taxfoundation.org/legacy/docs/fed_individual_rate_history_nominal.pdf">TaxFoundation.org</a>
        </p>
        <p>
            For more recent tax rates, please visit <a
                href="http://www.moneychimp.com/features/tax_brackets.htm">MoneyChimp.com</a>
        </p>
    </div>

    <script>
        const CHART_COLORS = {
            red: 'rgb(255, 99, 132)',
            salmon: 'rgb(250,128,114)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            lightgreen: 'rgb(144,238,144)',
            blue: 'rgb(54, 162, 235)',
            cyan: 'rgb(0,255,255)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };
        var singleTaxPayerDefinitionKeys = getSingleTaxPayerDefinitionKeys();
        var chartHelper = getChartHelper();
        var plotlyHelper = getPlotlyHelper();
        var taxCalculator = getTaxCalculator();
        
        function formatNumberForDisplay(value) {
            if (Number(value) >= 1000) {
                return Number(value).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            } else if (value < 1 && value > 0) {
                return (value * 100).toFixed(2);
            }
            else {
                return value;
            }
        }

        function formatDecimalAsPercent(value, index, values) {
            if(value > 0){
                return formatNumberForDisplay(Number(value).toFixed(3) * 100).toFixed(2) + "%";
            }
            return "0%";
        }

        function buildTooltipLabel(tooltipItem, data) {
            var value = formatNumberForDisplay(tooltipItem.value);
            if (tooltipItem.value > 0 && tooltipItem.value < 1) {
                return value + "%";
            }
            else return value;
        }

        var app;
        var defaultAmountForYearlyGraph = 50000;
        var defaultMin = 10000;
        var defaultMax = 800000;
        var defaultStep = 24;
        var defaultTaxYear = getDefaultTaxYear();
        var specificIncomeBreakdown = {
            components: [],
            totalAmount: 0,
            effectiveTaxRate: 0,
            netIncome: 0,
            startingAmount: 1500000,
            calculatedIncome: 0
        };
        var defaultSelectedRow = 0;

        function buildCommonYAxisDefinitions(){
            return [
                chartHelper.buildChartAxisDefinition('Net Income', 'amount-axis', 'left', true, formatNumberForDisplay),
                chartHelper.buildChartAxisDefinition('Effective Tax Rate', 'effective-rate-axis', 'right', false, formatDecimalAsPercent)
            ];
        }

        var yearlyConfig = {
            type: 'line',
            data: {
                labels: [],
                datasets: [
                    chartHelper.buildInitialDataset('Tax Amount per Year for a Specific Income', CHART_COLORS.red, 'amount-axis', false),
                    chartHelper.buildInitialDataset('Net Income per Year', CHART_COLORS.blue, 'amount-axis', false),
                    chartHelper.buildInitialDataset('Effective Tax Rate per Year', CHART_COLORS.green, 'effective-rate-axis', true)
                ]
            },
            options: chartHelper.buildInitialChartConfigOptions(buildTooltipLabel)
        };
        yearlyConfig.options.scales.xAxes = [
            chartHelper.buildChartAxisDefinition('Year', 'year-axis', 'bottom', true, function (value) { return value; })
        ];
        yearlyConfig.options.scales.yAxes = buildCommonYAxisDefinitions();

        var config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [
                    chartHelper.buildInitialDataset('Tax Amount for a Specific Income', CHART_COLORS.red, 'amount-axis', false),
                    chartHelper.buildInitialDataset('Net Income', CHART_COLORS.blue, 'amount-axis', false),
                    chartHelper.buildInitialDataset('Effective Tax Rate', CHART_COLORS.green, 'effective-rate-axis', true),
                    chartHelper.buildInitialDataset('Tax Amount for Comparison', CHART_COLORS.salmon, 'amount-axis', false),
                    chartHelper.buildInitialDataset('Net Income for Comparison', CHART_COLORS.cyan, 'amount-axis', false),
                    chartHelper.buildInitialDataset('Effective Tax Rate for comparison', CHART_COLORS.lightgreen, 'effective-rate-axis', true),
                ]
            },
            options: chartHelper.buildInitialChartConfigOptions(buildTooltipLabel)
        };
        config.options.scales.xAxes = [
            chartHelper.buildChartAxisDefinition('Total Income', 'year-axis', 'bottom', true, function (value) { return value; })
        ];
        config.options.scales.yAxes = buildCommonYAxisDefinitions();
        
        var graphLineIndex = {
            taxAmount: 0,
            netIncome: 1,
            effectiveTaxRate: 2,
            taxAmountComparison: 3,
            netIncomeComparison: 4,
            effectiveTaxRateComparison: 5
        };

        var plotlyLayout = plotlyHelper.getPlotlyLayout('Effective Tax Topology Over Income and Year');

        var z_data = [
        ];

        window.onload = function () {
            app = new Vue({
                el: '#app',
                data: {
                    taxBrackets: defaultTaxYear.brackets,
                    min: defaultMin,
                    max: defaultMax,
                    step: defaultStep,
                    minSingleYear: defaultMin,
                    maxSingleYear: defaultMax,
                    stepSingleYear: defaultStep,
                    selectedRow: defaultSelectedRow,
                    specificIncomeBreakdown: specificIncomeBreakdown,
                    taxDeductionAmount: defaultTaxYear.standardDeduction,
                    selectedTaxYearBreakdown: {},
                    selectedTaxYearIncomeRangeGraph: {},
                    selectedTaxYearIncomeRangeGraphComparison: {},
                    amountForYearlyGraph: defaultAmountForYearlyGraph,
                    vueCanvas: null,
                    vueCanvasYearly: null,
                    topologyGraph: null
                },
                mounted() {
                    var ctx = document.getElementById('canvas').getContext('2d');
                    this.vueCanvas = ctx;
                    window.myLine = new Chart(this.vueCanvas, config);

                    var yearlyctx = document.getElementById('canvasYearly').getContext('2d');
                    this.vueCanvasYearly = yearlyctx;
                    window.myLineYearly = new Chart(this.vueCanvasYearly, yearlyConfig);

                    var graphDiv = document.getElementById('topologyGraph');
                    this.topologyGraph = graphDiv;
                    Plotly.newPlot(this.topologyGraph, z_data, plotlyLayout, {responsive:true});
                }
            });
            app.selectedTaxYearBreakdown = defaultTaxYear;
            app.selectedTaxYearIncomeRangeGraph = defaultTaxYear;
            app.selectedTaxYearIncomeRangeGraphComparison = defaultTaxYear;
            calculateBreakdown();
            rebuildGraph();
            buildPlotlyTopology();
            rebuildYearlyGraph();
        };

        function calculateBreakdown() {
            var taxBrackets = app.selectedTaxYearBreakdown.brackets;
            var deductionAmount = app.selectedTaxYearBreakdown.standardDeduction;
            var income = parseInt(app.specificIncomeBreakdown.startingAmount);
            app.specificIncomeBreakdown.calculatedIncome = app.specificIncomeBreakdown.startingAmount;
            var taxInformation = taxCalculator.getTaxInformation(income, true, taxBrackets, deductionAmount, app.specificIncomeBreakdown);
            app.specificIncomeBreakdown.totalAmount = taxInformation.taxAmount;
            app.specificIncomeBreakdown.effectiveTaxRate = taxInformation.effectiveTaxRate;
            app.specificIncomeBreakdown.netIncome = taxInformation.netIncome;
        }

        function getStepSize(min, max, stepCount){
            return Math.round((max - min) / stepCount) + 1;
        }

        function buildChart() {
            for (var i = 0; i < config.data.datasets.length; i++) {
                config.data.datasets[i].data = [];
            }
            config.data.labels = [];
            var i = app.minSingleYear;
            var stepSize = getStepSize(app.minSingleYear, app.maxSingleYear, app.stepSingleYear);
            while (i <= app.maxSingleYear) {
                config.data.labels.push(formatNumberForDisplay(i));
                var taxInformation = taxCalculator.getTaxInformation(i, false, app.selectedTaxYearIncomeRangeGraph.brackets, app.selectedTaxYearIncomeRangeGraph.standardDeduction);
                config.data.datasets[graphLineIndex.taxAmount].data.push(taxInformation.taxAmount);
                config.data.datasets[graphLineIndex.effectiveTaxRate].data.push(taxInformation.effectiveTaxRate);
                config.data.datasets[graphLineIndex.netIncome].data.push(taxInformation.netIncome);
                if(app.selectedTaxYearIncomeRangeGraphComparison.standardDeduction !== app.selectedTaxYearIncomeRangeGraph.standardDeduction){
                    var taxInformation = taxCalculator.getTaxInformation(i, false, app.selectedTaxYearIncomeRangeGraphComparison.brackets, app.selectedTaxYearIncomeRangeGraphComparison.standardDeduction);
                    config.data.datasets[graphLineIndex.taxAmountComparison].data.push(taxInformation.taxAmount);
                    config.data.datasets[graphLineIndex.effectiveTaxRateComparison].data.push(taxInformation.effectiveTaxRate);
                    config.data.datasets[graphLineIndex.netIncomeComparison].data.push(taxInformation.netIncome);
                }
                i = parseInt(i) + parseInt(stepSize);
            }
        }

        function buildYearlyChart() {
            for (var i = 0; i < yearlyConfig.data.datasets.length; i++) {
                yearlyConfig.data.datasets[i].data = [];
            }
            yearlyConfig.data.labels = [];
            var i = app.amountForYearlyGraph;
            var taxYearProperties = singleTaxPayerDefinitionKeys;
            var taxYearDefinitions = getTaxYears();
            taxYearProperties.forEach(function (taxYear) {
                var taxYearDef = taxYearDefinitions[taxYear];
                var taxYearLabel = taxYear.replace("Single", "");
                var taxInfo = taxCalculator.getTaxInformation(i, false, taxYearDef.brackets, taxYearDef.standardDeduction);

                yearlyConfig.data.labels.push(taxYearLabel);
                yearlyConfig.data.datasets[graphLineIndex.taxAmount].data.push(taxInfo.taxAmount);
                yearlyConfig.data.datasets[graphLineIndex.effectiveTaxRate].data.push(taxInfo.effectiveTaxRate);
                yearlyConfig.data.datasets[graphLineIndex.netIncome].data.push(taxInfo.netIncome);
            });
        }

        function rebuildGraph() {
            buildChart();
            window.myLine.update();
        };

        function buildPlotlyTopology() {
            z_data = [];
            var taxYearProperties = singleTaxPayerDefinitionKeys;
            var taxYearDefinitions = getTaxYears();

            var plotlyRow = plotlyHelper.getInitialPlotlyRow();
            var counter = 0;
            taxYearProperties.forEach(function (taxYear) {
                var taxYearDef = taxYearDefinitions[taxYear];
                var taxYearLabel = parseInt(taxYear.replace("Single", ""));
                var i = app.min;
                var stepSize = getStepSize(app.min, app.max, app.step);
                while (i <= app.max) {
                    var taxInformation = taxCalculator.getTaxInformation(i, false, taxYearDef.brackets, taxYearDef.standardDeduction);
                    plotlyRow.x.push(i);
                    plotlyRow.y.push(taxYearLabel);
                    plotlyRow.z.push(taxInformation.effectiveTaxRate * 100);
                    plotlyRow.marker.color.push(counter*3);
                    i = parseInt(i) + parseInt(stepSize);
                }
                counter++;
            });
            z_data.push(plotlyRow);
            Plotly.newPlot(app.topologyGraph, z_data, plotlyLayout);
        }

        function rebuildYearlyGraph() {
            buildYearlyChart();
            window.myLineYearly.update();
        };

        function toggleVisibility(elementId, label, actionElement){
            var element = document.getElementById(elementId);
            if (element.style.display === "none") {
                element.style.display = "block";
                actionElement.innerHTML = "Hide " + label;
            } else {
                element.style.display = "none";
                actionElement.innerHTML = "Show " + label;
            }
        };
    </script>
</body>

</html>