
<!doctype html>
<html>

<head>
    <title>How Tax Brackets Work</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" />
	<script src="https://www.chartjs.org/dist/2.9.4/Chart.min.js"></script>
    <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
    <style>
        canvas{
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>

<body>
<div style="position:relative;width:80vw;height:60vh">
    <canvas id="canvas"></canvas>
</div>
<button id="rebuildGraph" onclick="rebuildGraph()" class="pure-button">Rebuild Graph</button>
<br />
<div id="app">
    <h3>Configuration</h3>
    <div id="configuration">
        <h4>Graph configs</h4>
        <table id="graphConfiguration" class="pure-table pure-table-bordered">
            <tr>
                <td>Start Graph at </td>
                <td><input type="number" id="min" v-model="min" step="100" /></td>
            </tr>
            <tr>
                <td>End Graph at </td>
                <td><input type="number" id="max" v-model="max" step="100" /></td>
            </tr>
            <tr>
                <td>Going up by </td>
                <td><input type="number" id="step" v-model="step" /></td>
            </tr>     
        </table>
        <h4>Tax configs</h4>
        <button id="addNewTaxBracket" onclick="addNewTaxBracket()" class="pure-button">Add New Tax Bracket</button>
        <button id="removeTaxBracket" onclick="removeTaxBracket()" class="pure-button">Remove Selected Tax Bracket</button>
        <table id="taxConfiguration" class="pure-table pure-table-bordered">
            <tr>
                <th></th>
                <th>Income Bracket</th>
                <th>TaxRate</th>
            </tr>
            <tr v-for="(bracket, index) in taxBrackets">
                <td><input type="radio" v-model="selectedRow" :value="`${index}`" :id="`bracket-row-${index}`" class="pure-radio" /></td>
                <td><input type="number" :id="`bracket-max-${index}`" v-model="bracket.bracketMax" step="100" class="pure-input-rounded" /></td>
                <td><input type="number" min="0" max="1" step=".01" :id="`bracket-taxRate-{index}`" v-model="bracket.taxRate" class="pure-input-rounded" /></td>
            </tr>
        </table>
    </div>
    <div id="furtherResources">
        <p>
            For historical tax rates, please visit <a href="https://files.taxfoundation.org/legacy/docs/fed_individual_rate_history_nominal.pdf">taxfoundation.org's listings here</a>
        </p>
        <p>
            For more recent tax rates, please visit <a href="http://www.moneychimp.com/features/tax_brackets.htm">http://www.moneychimp.com/features/tax_brackets.htm</a>
        </p>    
    </div>
    <h3>Specific Income Breakdown</h3>
    <div id="breakdown" >
        <table id="breakDownInput" class="pure-table pure-table-bordered">
            <tr>
                <td>Enter a specific income to show it's breakdown</td>
            </tr>
            <tr>
                <td><input type="number" step="1000" id="specificIncome" v-model="specificIncomeBreakdown.startingAmount" /></td>
            </tr>
        </table>

        <button id="calculateBreakdown" class="pure-button" onclick="calculateBreakdown()">Calculate Breakdown</button>
        <table class="pure-table pure-table-bordered">
            <tr>
                <th>Income Bracket</th>
                <th>Tax Rate</th>
                <th>Tax Amount</th>
            </tr>
            <tr v-for="breakdown in specificIncomeBreakdown.components">
                <td>{{ breakdown.max }}</td>
                <td>{{ breakdown.taxRate }}</td>
                <td>{{ breakdown.taxAmount }}</td>
            </tr>                
        </table>
        <table class="pure-table pure-table-bordered">
            <tr>
                <td>The total amount of tax owed would be</td>
                <td>{{ specificIncomeBreakdown.totalAmount }}</td>
            </tr>

            <tr>
                <td>The marginal tax rate would be</td>
                <td>{{ specificIncomeBreakdown.marginalTaxRate }}</td>
            </tr>

            <tr>
                <td>The net income after tax would be</td>
                <td>{{ specificIncomeBreakdown.netIncome }}</td>
            </tr>
        </table>
    </div>        
</div>
<script>
    var app;
    var defaultMin = 10000;
    var defaultMax = 800000;
    var defaultStep = 15000;
    var defaultTaxBrackets = [{
        taxRate: .10,
        bracketMax: 9875
    },
    {
        taxRate: .12,
        bracketMax: 40125
    },
    {
        taxRate: .22,
        bracketMax: 85525
    },
    {
        taxRate: .24,
        bracketMax: 163300
    },
    {
        taxRate: .32,
        bracketMax: 207350
    },
    {
        taxRate: .35,
        bracketMax: 518400
    },
    {
        taxRate: .37,
        bracketMax: Number.MAX_SAFE_INTEGER
    }];
    var specificIncomeBreakdown = {
        components: [],
        totalAmount: 0,
        marginalTaxRate: 0,
        netIncome: 0,
        startingAmount: 15000
    };
    var defaultSelectedRow = 0;
    var colorNames = Object.keys(window.chartColors);
    var config = {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: 'Tax Amount per Income',
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                data: [
                ],
                fill: false,
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: true,
            title: {
                display: true,
                text: 'Income'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Income'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Tax Amount'
                    }
                }]
            }
        }
    };

    window.onload = function() {
        var ctx = document.getElementById('canvas').getContext('2d');
        app = new Vue({
            el: '#app',
            data : {
                min: defaultMin,
                max: defaultMax,
                taxBrackets: defaultTaxBrackets,
                step: defaultStep,
                selectedRow: defaultSelectedRow,
                specificIncomeBreakdown: specificIncomeBreakdown
            }
        });            
        buildChart();
        calculateBreakdown();
        window.myLine = new Chart(ctx, config);            
    };

    function calculateBreakdown(){
        var income = parseInt(app.specificIncomeBreakdown.startingAmount);
        app.specificIncomeBreakdown.totalAmount = getTaxAmount(income).toFixed(2);
        app.specificIncomeBreakdown.marginalTaxRate = (app.specificIncomeBreakdown.totalAmount / income).toFixed(2);
        app.specificIncomeBreakdown.netIncome = (income - app.specificIncomeBreakdown.totalAmount).toFixed(2);
        buildComponents(income);
    }

    function buildComponents(income){
        app.specificIncomeBreakdown.components = [];
        var previousMax = 0;
        app.taxBrackets.forEach(function(item, index){
            var component = {
                max: 0,
                taxRate: item.taxRate,
                taxAmount: 0
            };
            if(income > item.bracketMax){
                component.taxAmount = ((item.bracketMax - previousMax) * item.taxRate).toFixed(2);
                component.max = item.bracketMax - previousMax;
            }
            else if(income > previousMax){
                component.taxAmount = (income - previousMax) * item.taxRate;
                component.max = income - previousMax;
            }
            app.specificIncomeBreakdown.components.push(component);
            previousMax = item.bracketMax;
        });
    }

    function buildChart(){
        config.data.datasets[0].data = [];
        config.data.labels = [];
        var i = app.min;
        while(i <= app.max){
            config.data.labels.push(i);
            var taxAmount = getTaxAmount(i);
            config.data.datasets[0].data.push(taxAmount);
            i = parseInt(i) + parseInt(app.step);
        }
    }

    function getTaxAmount(income){
        var taxAmount = 0;
        var previousMax = 0;
        app.taxBrackets.forEach(function(item, index){
            if(income > item.bracketMax){
                taxAmount += (item.bracketMax - previousMax) * item.taxRate;
            }
            else if(income > previousMax){
                taxAmount += (income - previousMax) * item.taxRate;
            }
            previousMax = item.bracketMax;
        });
        return taxAmount;
    }

    function rebuildGraph() {
        buildChart();
        window.myLine.update();
    };

    function addNewTaxBracket(){
        var secondHighestIncome = app.taxBrackets[app.taxBrackets.length - 2].bracketMax;
        var highestTaxRate = app.taxBrackets[app.taxBrackets.length - 1].taxRate;
        app.taxBrackets[app.taxBrackets.length - 1].bracketMax = parseInt(secondHighestIncome) + 1;
        app.taxBrackets.push({
            taxRate: (highestTaxRate + .01).toFixed(2),
            bracketMax: Number.MAX_SAFE_INTEGER
        });
    };

    function removeTaxBracket(){
        var selRow = app.selectedRow;
        if(app.taxBrackets.length == parseInt(selRow) + 1 && app.taxBrackets.length > 1){
            app.taxBrackets[selRow - 1].bracketMax = Number.MAX_SAFE_INTEGER;
        }
        app.taxBrackets.splice(selRow, 1);
    };
</script>
</body>

</html>