canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body{
    margin-left: 20px;
    margin-right: 15px;
}

div.bordered {
    border: 1pt;
    border-color: darkcyan;
    border-style: solid;
}

div.centered{
    text-align: center;
}

table{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

button.button-toggle {
    background-color: darkcyan;
    color:floralwhite;
}

input.range {
    width:50%;
}