canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

div.canvas {
    position:relative;
    width:95vw;
    height:50vh;
}

body{
    margin-left: 10px;
    margin-right: 10px;
}

div.bordered {
    border: 1pt;
    border-color: black;
    border-style: solid;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 3px;
}

div.centered{
    text-align: center;
}

table{
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

button.button-toggle {
    background-color: darkcyan;
    color:floralwhite;
}

input.range {
    width:50%;
}

ul.no-bullets {
    list-style-type: none;
    text-align: left;
}

input {
    width: fit-content;
}

div.app {
    height: fit-content;
    width: fit-content;
}

.side-by-side {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
