<!doctype html>
<html>

<head>
    <title>Midi Song Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
    <link href="../Styles.css" rel="stylesheet">
    <script src="https://unpkg.com/tone"></script>
    <script src="keyNoteMaps.js"></script>
</head>
<body>
    <h1>Type To Play Notes</h1>
    <p class="bordered" id="loadingBanner">
        Performance Note: Please allow a few moments for the page to load.
    </p>
    <p>
        The keys on your keyboard act as a piano, and the space bar acts as percussive instrument.  Please select the keyboard layout to use for how notes will progress across it.
    </p>
    <p>
        If at any point a note keeps playing after you stop pressing all the keys, I apologize for the bug.  Please refresh or close this browser window.
    </p>
    <div id="app">
        <div id="configuration">
            <div>
                <label for="keyNoteMapSelect">Select a Keyboard Layout</label>
                <select id="keyNoteMapSelect" v-model="selectedKeyNoteMap" class="pure-input-rounded">
                    <option v-for="(item, key, index) in availableKeyNoteMaps" :value="item">{{key}}</option>
                </select>
                <p>Description: {{selectedKeyNoteMap.description}}</p>
            </div>
        </div>
    </div>
    <script>
        var app;
        var synthMap = {};
        const conga = new Tone.MembraneSynth({
            pitchDecay: 0.008,
            octaves: 2,
            envelope: {
                attack: 0.0006,
                decay: 0.5,
                sustain: 0,
            },
        }).toDestination();
        const queryString = window.location.search;
        const debugPage = queryString == "?debug";
        
        const synthArray = [];
        const pressedKeys = {};

        //Get all the keyNoteMaps
        const keyNoteMapCollection = getKeyNoteMaps();

        //Get all the available keyNoteMapKeys keys
        const keyNoteMapKeys = Object.keys(keyNoteMapCollection);

        //Get a default value for the keyNoteMap
        const defaultKeyNoteMap = keyNoteMapCollection[keyNoteMapKeys[0]];

        //Since people have 10 fingers, they could play 10 notes at once
        //Get synths set up for each possible finger
        for (let i = 0; i < 10; i++) {
          synthArray.push(
                new Tone.FMSynth( {
                    "harmonicity":1,
                    "modulationIndex": i,
                    "oscillator" : {
                        "type": "sawtooth"
                    },
                    "modulation" : {
                        "type" : "square"
                    }
                }).toDestination()
            );
        }

        // Assign 'a' key press to trigger playing of the note
        document.addEventListener("keydown", function(event) {
            if (event.key in app.selectedKeyNoteMap.keyNoteMap) {
                writeLog("Pressed key for " + app.selectedKeyNoteMap.keyNoteMap[event.key]);
                
                pressedKeys[event.key] = true;
                playNotes();
            }
            else if (event.key === ' ') { // added if statement for space bar
                writeLog('Space bar pressed!');
                conga.triggerAttackRelease("C4", "4n");
            }
            
        });

        document.addEventListener("keyup", function() {
            if(event.key in app.selectedKeyNoteMap.keyNoteMap && event.key in synthMap){
                writeLog("Release key for " + app.selectedKeyNoteMap.keyNoteMap[event.key]);
                pressedKeys[event.key] = false;
                playNotes();
            }
        });

        function playNotes(){
            writeLog(pressedKeys);
            for(var key in pressedKeys){
                if(pressedKeys[key]){
                    var synthIndex = synthMap[key];
                    if(synthIndex === undefined){
                        writeLog(synthIndex);
                        writeLog("Getting free synth for " + key);
                        var synthIndex = getFreeSynth();
                    }                    
                    synthArray[synthIndex].triggerAttack(app.selectedKeyNoteMap.keyNoteMap[key]);
                    synthMap[key] = synthIndex;
                } else {
                    if(key in synthMap){
                        var synthIndex = synthMap[key];
                        synthArray[synthIndex].triggerAttackRelease();
                        delete synthMap[key];
                    }                    
                }
            }
        }

        function writeLog(logEntry){
            if(debugPage == true){
                console.log(logEntry);
            }
        }

        function getFreeSynth(){
            var values = Object.values(synthMap);
            for (let i = 0; i < 10; i++) {
                if (!(values.includes(i))){
                    writeLog("Returning synth [" + i + "]");
                    return i;
                }
            }
        }

        window.onload = function(){
            app = new Vue({
                el: '#app',
                data: {
                    selectedKeyNoteMap: defaultKeyNoteMap,
                    availableKeyNoteMaps: keyNoteMapCollection

                }
            })
            //hide the loading banner
            var loadingBanner = document.getElementById('loadingBanner');
            if (loadingBanner) {
                loadingBanner.style.display = 'none';
            }
        };
        
    </script>
</body>
</html>