<!doctype html>
<html>

<head>
    <title>Midi Song Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
    <link href="../Styles.css" rel="stylesheet">
    <script src="https://unpkg.com/tone"></script>
    <script src="keyNoteMaps.js"></script>
</head>
<body>
    <h1>Type To Play Notes</h1>
    <p class="bordered" id="loadingBanner">
        Performance Note: Please allow a few moments for the page to load.
    </p>
    <p>
        The keys on your keyboard act as a piano, and the space bar acts as percussive instrument.  Please select the keyboard layout to use for how notes will progress across it.
    </p>
    <p>
        If at any point a note keeps playing after you stop pressing all the keys, I apologize for the bug.  Please refresh or close this browser window.
    </p>
    <div id="app">
        <div id="configuration">
            <div id="keyNoteMapConfigs">
                <label for="keyNoteMapSelect">Select a Keyboard Layout</label>
                <select id="keyNoteMapSelect" v-model="selectedKeyNoteMap" class="pure-input-rounded">
                    <option v-for="(item, key, index) in availableKeyNoteMaps" :value="item">{{key}}</option>
                </select>
                <p>Description: {{selectedKeyNoteMap.description}}</p>
            </div>
            <div id="CurrentNotes">
                Current Notes Playing: | {{ notesPlaying }} |
            </div>
            <div id="FMSynthConfigs">
                <ul>
                    <li>
                        <label for="detune">Set Detune Number</label>
                        <input type="number" step=".01" min="-1000" max="1000" id="detune" v-model="fmSynthOptions.detune" />
                    </li>
                    <li>
                        <label for="harmonicity">Set harmonicity Number</label>
                        <input type="number" step=".01" min="0" max="1000" id="harmonicity" v-model="fmSynthOptions.harmonicity" />
                    </li>
                    <li>
                        <label for="modulationTypeSelect">Set Modulation Type</label>
                        <select id="modulationTypeSelect" v-model="fmSynthOptions.modulation.type" class="pure-input-rounded">
                            <option v-for="(item, index) in oscillatorTypes" :value="item">{{item}}</option>
                        </select>
                        <ul>
                            <li>
                                Modulation Envelope
                            </li>
                            <li>
                                <label for="modulationEnvelopeAttack">Attack</label>
                                <input type="number" step=".01" min="0" max="1000" id="modulationEnvelopeAttack" v-model="fmSynthOptions.modulationEnvelope.attack" />
                                <label for="rangeForModulationEnvelopeAttack">Slide to change Attack</label><input type="range" class="range" min="0" max="1000" step=".5" id="rangeForModulationEnvelopeAttack" v-model="fmSynthOptions.modulationEnvelope.attack" />
                            </li>
                            <li>
                                <label for="modulationEnvelopeDecay">Decay</label>
                                <input type="number" step=".01" min="0" max="1000" id="modulationEnvelopeDecay" v-model="fmSynthOptions.modulationEnvelope.decay" />
                                <label for="rangeForModulationEnvelopeDecay">Slide to change Decay</label><input type="range" class="range" min="0" max="1000" id="rangeForModulationEnvelopeDecay" v-model="fmSynthOptions.modulationEnvelope.decay" />
                            </li>
                            <li>
                                <label for="modulationEnvelopeSustain">Sustain</label>
                                <input type="number" step=".01" min="0" max="1" id="modulationEnvelopeSustain" v-model="fmSynthOptions.modulationEnvelope.sustain" />
                                <label for="rangeForModulationEnvelopeSustain">Slide to change Sustain</label><input type="range" class="range" min="0" max="1" step=".01" id="rangeForModulationEnvelopeSustain" v-model="fmSynthOptions.modulationEnvelope.sustain" />
                            </li>
                            <li>
                                <label for="modulationEnvelopeRelease">Release</label>
                                <input type="number" step=".01" min="0" max="1000" id="modulationEnvelopeRelease" v-model="fmSynthOptions.modulationEnvelope.release" />
                                <label for="rangeForModulationEnvelopeRelease">Slide to change Release</label><input type="range" class="range" min="0" max="1000" step=".01" id="rangeForModulationEnvelopeRelease" v-model="fmSynthOptions.modulationEnvelope.release" />
                            </li>
                        </ul>
                    </li>
                    <li>
                        <label for="oscillatorTypeSelect">Set Oscillator Type</label>
                        <select id="oscillatorTypeSelect" v-model="fmSynthOptions.oscillator.type" class="pure-input-rounded">
                            <option v-for="(item, index) in oscillatorTypes" :value="item">{{item}}</option>
                        </select>
                        <ul>
                            <li>
                                Envelope
                            </li>
                            <li>
                                <label for="envelopeAttack">Attack</label>
                                <input type="number" step=".01" min="0" max="1000" id="envelopeAttack" v-model="fmSynthOptions.envelope.attack" />
                                <label for="rangeForEnvelopeAttack">Slide to change Attack</label><input type="range" class="range" min="0" max="1000" step=".5" id="rangeForEnvelopeAttack" v-model="fmSynthOptions.envelope.attack" />
                            </li>
                            <li>
                                <label for="envelopeDecay">Decay</label>
                                <input type="number" step=".01" min="0" max="1000" id="envelopeDecay" v-model="fmSynthOptions.envelope.decay" />
                                <label for="rangeForEnvelopeDecay">Slide to change Decay</label><input type="range" class="range" min="0" max="1000" id="rangeForEnvelopeDecay" v-model="fmSynthOptions.envelope.decay" />
                            </li>
                            <li>
                                <label for="envelopeSustain">Sustain</label>
                                <input type="number" step=".01" min="0" max="1" id="envelopeSustain" v-model="fmSynthOptions.envelope.sustain" />
                                <label for="rangeForEnvelopeSustain">Slide to change Sustain</label><input type="range" class="range" min="0" max="1" step=".01" id="rangeForEnvelopeSustain" v-model="fmSynthOptions.envelope.sustain" />
                            </li>
                            <li>
                                <label for="envelopeRelease">Release</label>
                                <input type="number" step=".01" min="0" max="1000" id="envelopeRelease" v-model="fmSynthOptions.envelope.release" />
                                <label for="rangeForEnvelopeRelease">Slide to change Release</label><input type="range" class="range" min="0" max="1000" step=".01" id="rangeForEnvelopeRelease" v-model="fmSynthOptions.envelope.release" />
                                
                            </li>
                        </ul>
                    </li>
                </ul>
                <button id="reloadSynthOptions" class="pure-button button-toggle" onclick="changeSynthOptions()">Update Synth Options</button>
            </div>
        </div>
    </div>
    <script>
        var app;
        var synthMap = {};
        const conga = new Tone.MembraneSynth({
            pitchDecay: 0.008,
            octaves: 2,
            envelope: {
                attack: 0.0006,
                decay: 0.5,
                sustain: 0,
            },
        }).toDestination();
        const queryString = window.location.search;
        const debugPage = queryString == "?debug";
        
        const synthArray = [];
        const pressedKeys = {};
        const oscillatorTypes = ["sine", "square", "sawtooth", "triangle"];

        //Get all the keyNoteMaps
        const keyNoteMapCollection = getKeyNoteMaps();

        //Get all the available keyNoteMapKeys keys
        const keyNoteMapKeys = Object.keys(keyNoteMapCollection);

        //Get a default value for the keyNoteMap
        const defaultKeyNoteMap = keyNoteMapCollection[keyNoteMapKeys[0]];

        //The current keys
        var defaultNotesPlayed = "";

        var defaultFMSynthParams = 
        {
            harmonicity : 3 ,
            modulationIndex : 10 ,
            detune : 0 ,
            oscillator : {
                type : "sine"
            },
            envelope : {
                attack : 0.01 ,
                decay : 0.01 ,
                sustain : 1 ,
                release : 0.5
            },
            modulation : {
                type : "square"
            },
            modulationEnvelope : {
                attack : 0.5 ,
                decay : 0 ,
                sustain : 1 ,
                release : 0.5
            }
        };

        buildSynths(defaultFMSynthParams);
        
        function buildSynths(params) {
            //Clear the synthArray
            if(synthArray.length > 0){
                for (let i = synthArray.length - 1; i >= 0; i--) {
                    writeLog(synthArray[i]);
                    synthArray[i].dispose();
                    //delete i from array
                    synthArray.splice(i,1);
                }
            }            

            //Since people have 10 fingers, they could play 10 notes at once
            //Get synths set up for each possible finger            
            for (let i = 0; i < 10; i++) {
                synthArray.push(
                    new Tone.FMSynth( params ).toDestination()
                );
            }
            writeLog("synthArrayLength" + synthArray.length);
        }

        // Assign 'a' key press to trigger playing of the note
        document.addEventListener("keydown", function(event) {
            if (event.key in app.selectedKeyNoteMap.keyNoteMap) {
                writeLog("Pressed key for " + app.selectedKeyNoteMap.keyNoteMap[event.key]);
                
                pressedKeys[event.key] = true;
                playNotes();
            }
            else if (event.key === ' ') { // added if statement for space bar
                writeLog('Space bar pressed!');
                conga.triggerAttackRelease("C4", "4n");
            }
            
        });

        document.addEventListener("keyup", function() {
            if(event.key in app.selectedKeyNoteMap.keyNoteMap && event.key in synthMap){
                writeLog("Release key for " + app.selectedKeyNoteMap.keyNoteMap[event.key]);
                pressedKeys[event.key] = false;
                playNotes();
            }
        });

        function playNotes(){
            writeLog(pressedKeys);
            app.notesPlaying = "";
            for(var key in pressedKeys){
                if(pressedKeys[key]){
                    app.notesPlaying += " " + app.selectedKeyNoteMap.keyNoteMap[key];
                    var synthIndex = synthMap[key];
                    if(synthIndex === undefined){
                        writeLog(synthIndex);
                        writeLog("Getting free synth for " + key);
                        var synthIndex = getFreeSynth();
                    }                    
                    synthArray[synthIndex].triggerAttack(app.selectedKeyNoteMap.keyNoteMap[key]);
                    synthMap[key] = synthIndex;
                } else {
                    if(key in synthMap){
                        var synthIndex = synthMap[key];
                        synthArray[synthIndex].triggerAttackRelease();
                        delete synthMap[key];
                    }                    
                }
            }
        }

        function writeLog(logEntry){
            if(debugPage == true){
                console.log(logEntry);
            }
        }

        function getFreeSynth(){
            var values = Object.values(synthMap);
            for (let i = 0; i < 10; i++) {
                if (!(values.includes(i))){
                    writeLog("Returning synth [" + i + "]");
                    return i;
                }
            }
        }

        window.onload = function(){
            app = new Vue({
                el: '#app',
                data: {
                    selectedKeyNoteMap: defaultKeyNoteMap,
                    availableKeyNoteMaps: keyNoteMapCollection,
                    fmSynthOptions: defaultFMSynthParams,
                    oscillatorTypes: oscillatorTypes,
                    notesPlaying: defaultNotesPlayed
                }
            })
            //hide the loading banner
            var loadingBanner = document.getElementById('loadingBanner');
            if (loadingBanner) {
                loadingBanner.style.display = 'none';
            }
        };

        function changeSynthOptions(){
            writeLog(app.fmSynthOptions);
            buildSynths(app.fmSynthOptions);
        }
        
    </script>
</body>
</html>