<!DOCTYPE html>
<!--
    This is almost vanilla from https://tonejs.github.io/Midi/ right now,
    but I want to work some of Keybiano.html into it.  A user can drag a midi file
    onto the page, and it will have the ability to choose one of the tracks.
    The tracks will appear as notes and mapped keys at first, but eventually, I want to
    animate the mapped keys based on when they will play and how long they need to be played.
-->
<html>

<head>
    <title>Midiestro Difficulty Comparisons</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <script src="Libraries/vue.min.js"></script>
    <script type="text/javascript" src="Libraries/Tone.js"></script>
    <script type="text/javascript" src="Libraries/ToneMidi.js"></script>

    <link href="../Styles.css" rel="stylesheet">
    </link>
    <script src="MyComponents/keyNoteMaps.js"></script>
    <script src="MyComponents/SongNoteRenderer.js"></script>
    <script src="MyComponents/keyRenderInfo.js"></script>
    <script src="MyComponents/VisibleFieldFilterer.js"></script>
    <script src="MyComponents/midiSongList.js"></script>
    <script src="MyComponents/difficultySettings.js"></script>
    <script src="MyComponents/difficultySettingsCalculator.js"></script>
</head>

<body>
    <div id="toneContent">
        <div id="Instructions" class="bordered">
            <h2>Instructions</h2>
            <p>
                This page is meant to visualize the difficulty of songs.
            </p>
            <p>
                To play:
                <ul>
                    <li>Drop a midi file on the panel below.</li>
                    <li>Examine the effects of difficulty settings across the whole song.</li>
                </ul>
            </p>            
            <div id="FileDrop">
                <div id="Text">
                    Drop a midi file here, or click to select a file from the wizard.  Or use the select box below to choose a Preloaded Song instead.
                </div>
                <input type="file" accept="audio/midi" />
            </div>
        </div>
        <button id="toggleInstructions" onclick="toggleElementById('Instructions')">Toggle Instructions And Advanced Song Selection</button>
    </div>
    <div id="app">
        <div id="midiSongConfig" class="bordered">
            <div class="bordered">
                <label for="midiSongSelect">Select a Preloaded Song</label>
                <select id="midiSongSelect" v-model="selectedMidiSong" class="pure-input-rounded" v-on:change="handleMidiSongSelection()">
                    <option v-for="(item, key, index) in midiSongs" :value="item">{{key}}</option>
                </select>
            </div>
        </div>
        <div id="gameConfig" class="bordered" >
            <div class="bordered">
                Please note: most of these options require the song to be restarted in order to take affect.
            </div>
            <!-- trackOptionConfig -->
            <div id="trackOptionConfig" class="side-by-side">
                <div class="bordered">
                    <label for="trackSelect">Select Track to play</label>
                    <select id="trackSelect" v-model="selectedTrack" class="pure-input-rounded" v-on:change="renderSongFromSettings()">
                        <option v-for="(item, key, index) in availableTracks" :value="item">{{item.name}} ({{ item.notes.length }} notes, starts at {{ item.notes[0].time }})</option>
                    </select>
                </div>
                <div class="bordered">
                    If you want to play the parts of a particular track, you can select an individual one to display here.  Otherwise notes from all tracks will be used to display.
                </div>
            </div>
            <div id="statsDisplay" class="side-by-side">
                <div class="bordered">
                        {{ songStats }}
                </div>
                <div class="bordered">
                    stats
                </div>
            </div>
            <!-- keyNoteMapConfig -->
            <div id="keyNoteMapConfig" class="side-by-side">
                <div class="bordered">
                    <label for="keyNoteMapSelect">Select a Keyboard Layout</label>
                    <select id="keyNoteMapSelect" v-model="selectedKeyNoteMap" class="pure-input-rounded" v-on:change="renderSongFromSettings()">
                        <option v-for="(item, key, index) in availableKeyNoteMaps" :value="item">{{key}}</option>
                    </select>
                </div>
                <div class="bordered">
                    {{selectedKeyNoteMap.description}}
                </div>
            </div>
            <!-- difficultyConfig -->
            <div id="difficultyConfig" class="side-by-side">
                <div class="bordered">
                    <div id="difficulty">
                        <label for="difficultySelect">Select a Difficulty</label>
                        <select id="difficultySelect" v-model="selectedDifficulty" class="pure-input-rounded" v-on:change="setDifficulty()">
                            <option v-for="(item, key, index) in difficultySettings" :value="item">{{key}}</option>
                        </select>
                    </div>
                </div>
                <div class="bordered">
                    This sets how close together notes will be during play.  More notes will appear on harder difficulties, and they will be a bit harder to read due to how they letters stack up.  Not all songs are affected by difficulty changes similarly.  Some songs will barely change, and some will change drastically.  Good luck!
                </div>
            </div>
            <!-- minDurationConfig -->
            <div id="minDurationConfig" class="side-by-side">
                <div class="bordered">
                    <div id="minDuration">
                        <label for="minDuration">Min Note Duration (in seconds) {{minDuration}}</label>
                        <input type="range" class="fullRange" id="minDuration" v-model="minDuration" min="0" max="1" step=".01"></input>
                    </div>
                </div>
                <div class="bordered">
                    This sets which notes will be considered playable based on how long they appear on the screen.  the smaller the value, the more notes will show up to play.
                </div>
            </div>
            <!-- minNoteDistanceConfig -->
            <div id="minNoteDistanceConfig" class="side-by-side">
                <div class="bordered">
                    <div id="minNoteDistance">
                        <label for="minNoteDistance">Min Note Distance (in seconds) {{minNoteDistance}}</label>
                        <input type="range" class="fullRange" id="minNoteDistance" v-model="minNoteDistance" min="0" max="1" step=".01"></input>
                    </div>
                </div>
                <div class="bordered">
                    This sets which notes will be considered playable based on how much time is between notes.  the smaller the value, the more notes will show up to play.
                </div>
            </div>
        </div>        
        <button id="toggleGameConfig" onclick="toggleElementById('gameConfig')">Toggle Game Configurations</button>
        <div id="songTimeConfig" class="side-by-side">
            <div class="bordered">
                <div id="songTime">
                    <label for="songTime">SongTime (in seconds) {{songTime}}</label>
                    <input type="range" class="fullRange" id="songTime" v-model="songTime" min="0" :max="songEnd" step=".1"></input>
                </div>
            </div>
            <button id="renderSong" onclick="renderSongFromSettings()">Update Song Render</button>
        </div>        
        <div class="canvas-container-wrapper"></div>
            <div id="calculatedCanvasContainer" class="bordered">   
                <div>
                    Calculated Difficulty based on drop down--
                    minNoteDistance {{ calculatedDifficultySettings.minNoteDistance }} minNoteDuration {{ calculatedDifficultySettings.minNoteDuration }} notesPerMinute {{ calculatedNotesPerMinute }}
                </div>         
                <canvas id="calculatedNotesCanvas"></canvas>
            </div>
            <div id="songLevelCanvasContainer" class="bordered">
                <div>
                    Difficulty based on Song Options -- 
                    minNoteDistance {{ songLevelDifficultySettings.minNoteDistance }} minNoteDuration {{ songLevelDifficultySettings.minNoteDuration }} notesPerMinute {{ songLevelNotesPerMinute }}
                </div>
                <canvas id="songLevelNotesCanvas"></canvas>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var midiSongs = getMidiSongList();
        const sortedMidiSongs = Object.fromEntries(Object.keys(midiSongs).sort().map(key => [key, midiSongs[key]]));
        midiSongs = sortedMidiSongs;
        var songNoteRenderer = getSongNoteRenderer();
        const keyRenderInfo = getKeyRenderInfo();
        const difficultySettings = getDifficultySettings();
        const difficultySettingsCalculator = getDifficultySettingsCalculator();
        var songDifficultySettings = null;
        var noteLetterCache = songNoteRenderer.buildSongNoteLetterCache(keyRenderInfo);
        var visibleFieldFilterer = getVisibleFieldFilterer();
        //Get all the keyNoteMaps
        const keyNoteMapCollection = getKeyNoteMaps();  //Supplied from ./keyNoteMap.js
        //Get all the available keyNoteMapKeys keys
        const keyNoteMapKeys = Object.keys(keyNoteMapCollection);
        //Get a default value for the keyNoteMap
        const defaultKeyNoteMap = keyNoteMapCollection[keyNoteMapKeys[0]];
        //The current keys
        var defaultNotesPlaying = "";
        var defaultSongNotes = "";
        var defaultSongNotesOnKeyMap = "";
        var app; //The Vue.js variable

        /*
            Maybe these will get reused to scroll the canvas down and up
        */
        document.addEventListener('keydown', function(event) {
            if (event.key === 'a' || event.key === 'A') {
                // Decrease song time when up arrow key is pressed
                app.songTime -= 10;
            } 
            else if (event.key === 'd' || event.key === 'D') {
                // Increase song time when down arrow key is pressed
                app.songTime += 10;
            }
            else if (event.key === 'w' || event.key === 'W') {
                // Increase song time when down arrow key is pressed
                app.songTime -= 1;
            }
            else if (event.key === 's' || event.key === 'S') {
                // Increase song time when down arrow key is pressed
                app.songTime += 1;
            }
            if(app.songTime < 0 || app.songTime > app.songEnd){
                app.songTime = 0;
            }
            renderSong(app.songTime);
        });

        if (
            !(
                window.File &&
                window.FileReader &&
                window.FileList &&
                window.Blob
            )
        ) {
            document.querySelector("#FileDrop #Text").textContent =
                "Reading files not supported by this browser";
        } else {
            const fileDrop = document.querySelector("#FileDrop");

            fileDrop.addEventListener("dragenter", () =>
                fileDrop.classList.add("Hover")
            );

            fileDrop.addEventListener("dragleave", () =>
                fileDrop.classList.remove("Hover")
            );

            fileDrop.addEventListener("drop", () =>
                fileDrop.classList.remove("Hover")
            );

            document
                .querySelector("#FileDrop input")
                .addEventListener("change", (e) => {
                    //get the files
                    const files = e.target.files;
                    if (files.length > 0) {
                        const file = files[0];
                        document.querySelector(
                            "#FileDrop #Text"
                        ).textContent = file.name;
                        parseFile(file);
                    }
                });
        }

        let currentMidi = null;

        function renderSongFromSettings(){
            renderSong(app.songTime);
        }

        function parseFile(file) {
            //read the file
            const reader = new FileReader();
            reader.onload = setupSongFromArrayBuffer;
            reader.readAsArrayBuffer(file);
        }

        function setupSongFromArrayBuffer(e){
            app.availableTracks = [];
                const midi = new Midi(e.target.result);
                var trimmedMidi = {"tracks": []};
                var counter = 0;
                midi.tracks.forEach((track) => {
                    counter++;
                    if(track.notes.length > 0){
                        var trackName = track.name;
                        if(trackName == ""){
                            trackName = "Track";
                        }
                        trackName += " " + counter;
                        var trimmedTrack = {
                            "name" : trackName,
                            "notes" : track.notes
                        }
                        app.availableTracks.push(trimmedTrack);
                        trimmedMidi.tracks.push(trimmedTrack);
                    }
                });

                currentMidi = trimmedMidi;
                var fullNotes = getCombinedTrackNotes(currentMidi.tracks);
                var fullTrack = {
                    "name" : "Full Track",
                    "notes": fullNotes
                }
                // Add the fullTrack as the first array element in app.availableTracks
                app.availableTracks.unshift(fullTrack);

                app.selectedTrack = app.availableTracks[0];
                var lastNote = fullTrack.notes[fullTrack.notes.length - 1];
                app.songEnd = lastNote.time + lastNote.duration;
                app.songTime = 0;
                renderSong(app.songTime);
        }

        function getCombinedTrackNotes(tracks){
            var combinedNotes = [];
            tracks.forEach(track => {
                combinedNotes.push(...track.notes);
            });

            combinedNotes.sort((a, b) => a.time - b.time);

            return combinedNotes;
        }

        const synths = [];
        var playing = false;
        var playIntervalId = {};
        const delay = 3; //This is to give the player a chance to prepare before the first note plays

        function renderSong(specificTime) {
            var invertedKeyNoteMap = songNoteRenderer.invertKeyNoteMap(app.selectedKeyNoteMap.keyNoteMap);
            if (currentMidi) {
                const songStats = difficultySettingsCalculator.getSongStats(app.selectedTrack.notes, invertedKeyNoteMap);

                app.songStats = JSON.stringify(songStats, null, 2);
                const containerElement = document.getElementById("canvasContainer");

                const startTime = Tone.now();
                const futureLimit = app.songEnd;
                //Calculated Visible Field
                const calculatedDifficultySettings = difficultySettingsCalculator.getTargetVisibleField(app.selectedDifficulty.targetNotesPerMinute, app.selectedTrack.notes, invertedKeyNoteMap, visibleFieldFilterer, keyRenderInfo, app.notesCanvas, songNoteRenderer, app.songEnd);
                const visibleFieldCalculated = calculatedDifficultySettings.visibleField;
                app.calculatedDifficultySettings = calculatedDifficultySettings;
                app.calculatedNotesPerMinute = calculatedDifficultySettings.notesPerMinute;
                
                //Custom field based on defined minNoteDistance and minNoteDuration
                const visibleFieldCustom = visibleFieldFilterer.filterToFullVisibleField(app.selectedTrack.notes, app.minNoteDistance, app.minDuration, invertedKeyNoteMap, keyRenderInfo, app.notesCanvas, songNoteRenderer);

                var earliestNoteIndex = 0;
                var intervalNow = 0;
                if(specificTime){
                    intervalNow = specificTime;
                }
                
                const visiblePast = intervalNow - 1;
                const visibleFuture = intervalNow + 9;

                app.vueCalculatedCanvas.clearRect(0, 0, app.notesCalculatedCanvas.width, app.notesCalculatedCanvas.height);
                songNoteRenderer.renderNowLine(app.notesCalculatedCanvas, app.vueCalculatedCanvas);
                songNoteRenderer.renderNotesPlayingForCanvas(app.notesCalculatedCanvas, app.vueCalculatedCanvas, visibleFieldCalculated, {keyScores: {}}, intervalNow, visiblePast, visibleFuture, earliestNoteIndex, noteLetterCache);

                if(songDifficultySettings){
                    const songDifficulty = songDifficultySettings[app.selectedDifficulty.difficultyKey];
                    //todo fill in new canvas for the song difficulty settings
                    app.songLevelDifficultySettings = songDifficulty;
                    const visibleFieldSongLevel = visibleFieldFilterer.filterToFullVisibleField(app.selectedTrack.notes, songDifficulty.minNoteDistance, songDifficulty.minNoteDuration, invertedKeyNoteMap, keyRenderInfo, app.notesCanvas, songNoteRenderer);
                    app.songLevelNotesPerMinute = Math.floor((visibleFieldSongLevel.length / app.songEnd) * 60);

                    app.vueSongLevelCanvas.clearRect(0, 0, app.notesSongLevelCanvas.width, app.notesSongLevelCanvas.height);
                    songNoteRenderer.renderNowLine(app.notesSongLevelCanvas, app.vueSongLevelCanvas);
                    songNoteRenderer.renderNotesPlayingForCanvas(app.notesSongLevelCanvas, app.vueSongLevelCanvas, visibleFieldSongLevel, {keyScores: {}}, intervalNow, visiblePast, visibleFuture, earliestNoteIndex, noteLetterCache);
                }
                
            }
        };
        
        //This function shows or hides the FMSynthConfigs div
        function toggleElementById(id) {
            var configDiv = document.getElementById(id); // Get a reference to the synth configuration DIV element by its ID (you may need to replace 'id' with actual id of your HTML structure)
            if (configDiv) {
                const currentDisplayState = configDiv.style.display;

                if (currentDisplayState === "none") { // If it is currently hidden, then show the div (change its display style to block or inline-block as appropriate for your layout)
                    configDiv.style.display = "";

                } else { // Otherwise assume that FMSynthConfigs are already visible and hide them by setting their display property back to none
                    configDiv.style.display = "none";
                }
            }
        }
        toggleElementById('Instructions');
        toggleElementById('gameConfig')

        //Once everything is downloaded, and the page has loaded, start rendering the Vue.js app
        window.onload = function(){
            app = new Vue({
                el: '#app', //The div id to put the Vue.js app in.  I can end sentences with prepositions if I want.  It's what my repo is really about!
                data: {
                    selectedKeyNoteMap: defaultKeyNoteMap, //Which keyboard map the user has selected in the drop down.
                    availableKeyNoteMaps: keyNoteMapCollection, //All the keyboard maps available in the drop down
                    renderedNotesPlaying: defaultNotesPlaying, //The field to show which notes are playing based on the keys pressed at the time
                    songNotes: defaultSongNotes,
                    songNotesOnKeyMap: defaultSongNotesOnKeyMap,
                    selectedTrack: "",
                    availableTracks: [],
                    vueCalculatedCanvas: null,
                    notesCalculatedCanvas: null,
                    vueCanvas: null,
                    notesCanvas: null,
                    vueQuantileCanvas: null,
                    notesQuantileCanvas: null,
                    vueWeightedCanvas: null,
                    notesWeightedCanvas: null,
                    vueSongLevelCanvas: null,
                    notesSongLevelCanvas: null,
                    minDuration: difficultySettings["Normal"].minNoteDuration,
                    minNoteDistance: difficultySettings["Normal"].minNoteDistance,
                    defaultNotesPerMinute: 0,
                    quantileNotesPerMinute: 0,
                    weightedNotesPerMinute: 0,
                    songLevelNotesPerMinute: 0,
                    calculatedNotesPerMinute: 0,
                    midiJson: "",                    
                    midiSongs: midiSongs,
                    selectedMidiSong: null,
                    songEnd: null,
                    difficultySettings: difficultySettings,
                    selectedDifficulty: difficultySettings["Normal"],
                    songTime: 0,
                    weightedDifficultySettings: {
                        minNoteDuration: difficultySettings["Normal"].minNoteDuration,
                        minNoteDistance: difficultySettings["Normal"].minNoteDistance,                        
                    },
                    quantileDifficultySettings: {
                        minNoteDuration: difficultySettings["Normal"].minNoteDuration,
                        minNoteDistance: difficultySettings["Normal"].minNoteDistance,
                    },
                    songLevelDifficultySettings: {
                        minNoteDuration: difficultySettings["Normal"].minNoteDuration,
                        minNoteDistance: difficultySettings["Normal"].minNoteDistance,
                    },
                    calculatedDifficultySettings: {
                        minNoteDistance: difficultySettings["Normal"].minNoteDistance,
                        minNoteDuration: difficultySettings["Normal"].minNoteDuration,
                        vibleField: [],
                        notesPerMinute: 0
                    },
                    songStats: ""
                },
                mounted(){
                    this.notesCanvas = document.getElementById("songLevelNotesCanvas")
                    var ctx = this.notesCanvas.getContext('2d');
                    this.vueCanvas = ctx;
                    this.vueCanvas.clearRect(0, 0, this.notesCanvas.width, this.notesCanvas.height);
                    this.vueCanvas.font = "18px Verdana";
                    this.vueCanvas.fillStyle = "black";
                    this.vueCanvas.fillText("Visible Field Area", 0, 50); // Assuming the height of the letter is about 20 pixels

                    this.notesSongLevelCanvas = document.getElementById("songLevelNotesCanvas");
                    var songLevelCtx = this.notesSongLevelCanvas.getContext('2d');
                    this.vueSongLevelCanvas = songLevelCtx;

                    this.notesCalculatedCanvas = document.getElementById("calculatedNotesCanvas");
                    var calculatedCtx = this.notesCalculatedCanvas.getContext('2d');
                    this.vueCalculatedCanvas = calculatedCtx;
                }
            });

        };

        function handleMidiSongSelection(){
            if(app.selectedMidiSong){
                if(app.selectedMidiSong.difficultySettings){
                    songDifficultySettings = app.selectedMidiSong.difficultySettings;                    
                }
                else{
                    songDifficultySettings = null;
                }
                
                app.availableTracks = [];
                //Use fetch api to retrieve the file from "PublicDomainSongs/midi/" + app.selectedMidiSong.filename
                const midiFilename = app.selectedMidiSong.filename;
                fetch(`PublicDomainSongs/midi/${midiFilename}`)
                    .then(response => response.arrayBuffer())
                    .then(arrayBuffer => setupSongFromArrayBuffer({ target: {
                        result: arrayBuffer 
                    }
                }));
            }            
        }

        function setDifficulty(){
            app.minNoteDistance = app.selectedDifficulty.minNoteDistance;
            app.minDuration = app.selectedDifficulty.minNoteDuration;
            renderSong(app.songTime);
        }
         
    </script>
</body>

</html>