<!DOCTYPE html>
<!--
    Midiestro3DES - ES Module version of Midiestro3D.html
    Uses modern ES module imports from MyESModules directory
-->
<html>

<head>    
    <title>Midiestro 3D - ES Modules</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link href="../src/css/variables.css" rel="stylesheet">
    <link href="../src/css/CardGrid.css" rel="stylesheet">
    <link href="../Style.css" rel="stylesheet" />
    <link href="./Style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="./favicon.ico" />
</head>

<body>
    <button id="themeToggle" onclick="toggleTheme()" title="Toggle theme">
        <span id="theme-icon" class="material-icons">bedtime</span>
    </button>

    <div id="toneContent">
        <!-- BEGIN_SHARED_SECTION: instructions -->
        <div id="instructionsWrapper" class="collapsible-card">
            <div id="instructionsHeader" class="card-header" onclick="toggleInstructionsSection()">
                <span id="instructionsChevron" class="chevron material-icons">expand_more</span>
                <h3>Instructions & File Drop</h3>
            </div>
            <div id="Instructions" class="card-content hidden">
            <h2>Instructions</h2>
            <p>
                This page is a musical typing game, where you can take a midi file and try to match the notes played on your keyboard for points!
            </p>
            <p>
                To play:
                <ul>
                    <li>Drop a midi file on the panel below.</li>
                    <li>Press the Play button.</li>
                    <li>Watch the falling keys, and try to press the key when it gets to the bottom of the game window.</li>
                </ul>
            </p>
            <p>
                As a simple song to start with, here is a place to download <a href="https://onlinesequencer.net/4101480#">Mary Had a Little Lamb</a> .  On the website, choose "Download MIDI"
            </p>
            <p>
                You can find more midi files to download and try out at the links below.
                <ul>
                    <li><a href="https://bbloomf.github.io/lilypond-songs">https://bbloomf.github.io/lilypond-songs</a></li>
                    <li><a href="https://onlinesequencer.net/sequences">https://onlinesequencer.net/sequences</a></li>
                    <li><a href="http://www.soundswell.co.uk/pages/swmids.htm">http://www.soundswell.co.uk/pages/swmids.htm</a></li>
                    <li><a href="http://midi.music.arizona.edu/purpose.php">http://midi.music.arizona.edu/search.php</a></li>
                </ul>
            </p>
            <div id="FileDrop">
                <div id="Text">
                    Drop a midi file here, or click to select a file from the wizard.  Or use the select box below to choose a Preloaded Song instead.
                </div>
                <input type="file" accept="audio/midi" />
            </div>
        </div>
        <!-- END_SHARED_SECTION: instructions -->
    </div>

    <div id="app">
        <div id="midiSongConfig">
            <label for="midiSongSelect">Select a Preloaded Song</label>
            <select id="midiSongSelect" v-model="selectedMidiSong" class="pure-input-rounded" v-on:change="handleMidiSongSelection()">
                <option v-for="(item, key, index) in midiSongs" :value="item">{{key}}</option>
            </select>
        </div>

        <!-- BEGIN_SHARED_SECTION: game-config -->
        <div id="gameConfigWrapper" class="collapsible-card">
            <div id="gameConfigHeader" class="card-header" onclick="toggleGameConfigSection()">
                <span id="gameConfigChevron" class="chevron material-icons">expand_more</span>
                <h3>Game Configurations</h3>
            </div>
            <div id="gameConfig" class="card-content hidden">
            <div class="bordered">
                Please note: most of these options require the song to be restarted in order to take affect.
            </div>

            <div id="trackOptionConfig" class="side-by-side">
                <div class="bordered">
                    <label for="trackSelect">Select Track to play</label>
                    <select id="trackSelect" v-model="selectedTrack" class="pure-input-rounded" v-on:change="renderSongNotes()">
                        <option v-for="(item, key, index) in availableTracks" :value="item">{{item.name}} ({{ item.notes.length }} notes, starts at {{ item.notes[0].time }})</option>
                    </select>
                </div>
                <div class="bordered">
                    If you want to play the parts of a particular track, you can select an individual one to display here.  Otherwise notes from all tracks will be used to display.
                </div>
            </div>

            <div id="keyNoteMapConfig" class="side-by-side">
                <div class="bordered">
                    <label for="keyNoteMapSelect">Select a Keyboard Layout</label>
                    <select id="keyNoteMapSelect" v-model="selectedKeyNoteMap" class="pure-input-rounded" v-on:change="renderSongNotes()">
                        <option v-for="(item, key, index) in availableKeyNoteMaps" :value="item">{{key}}</option>
                    </select>
                </div>
                <div class="bordered">
                    {{selectedKeyNoteMap.description}}
                </div>
            </div>

            <div id="difficultyConfig" class="side-by-side">
                <div class="bordered">
                    <div id="difficulty">
                        <label for="difficultySelect">Select a Difficulty</label>
                        <select id="difficultySelect" v-model="selectedDifficulty" class="pure-input-rounded" v-on:change="setDifficulty()">
                            <option v-for="(item, key, index) in difficultySettings" :value="item">{{key}}</option>
                        </select>
                    </div>
                </div>
                <div class="bordered">
                    This sets how close together notes will be during play.  More notes will appear on harder difficulties, and they will be a bit harder to read due to how they letters stack up.  Not all songs are affected by difficulty changes similarly.
                </div>
            </div>

            <div id="trackVolumeConfig" class="side-by-side">
                <div class="bordered">
                    <div id="trackVolume">
                        <label for="trackVolume">Track Volume {{trackVolume}}</label>
                        <input type="range" class="fullRange" id="trackVolume" v-model="trackVolume" min="0" max="1" step=".01"></input>
                    </div>
                </div>
                <div class="bordered">
                    This sets the volume of each track.  The smaller the value, the quieter the background music will be.
                </div>
            </div>

            <div id="playerVolumeConfig" class="side-by-side">
                <div class="bordered">
                    <div id="playerVolume">
                        <label for="playerVolume">Player Volume {{playerVolume}}</label>
                        <input type="range" class="fullRange" id="playerVolume" v-model="playerVolume" min="0" max="1" step=".01"></input>
                    </div>
                </div>
                <div class="bordered">
                    This sets the volume of the player's audio.  The smaller the value, the quieter the notes played on the keyboard will be.
                </div>
            </div>
        </div>
    </div>
        <!-- END_SHARED_SECTION: game-config -->

    <!-- BEGIN_SHARED_SECTION: play-progress -->
    <div id="playProgress">
        <div id="SongTime">
            <span>Song EndTime: [{{ songEnd }}]</span>
            <label>
                <input type="checkbox" v-model="toggleTrackHighScores" v-on:change="handleToggleTrackHighScores()">
                Track High Scores (uses <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage">localStorage)</a>
            </label>
        </div>
        <button id="tonePlayToggle" onclick="togglePlay()" disabled>Play</button>
        
        <span class="score-display">Score: [{{ score }}]  Good [{{ goodCount }}] Ok [{{ okCount }}] Bad [{{badCount}}] Missed [{{missedCount}}]</span>
        
        <div id="SongHighScore">
            <span class="high-score-text">High Score: [{{ highScore }}] Challenge Score: [{{ challengeScore }}]</span>
            <div class="high-score-buttons">
                <button id="clearHighScores" onclick="window.highScoreTracker.exportHighScoresToClipBoardAsJsonString(); localStorage.clear(); app.toggleTrackHighScores = false; window.domUtils.toggleElementById('SongHighScore');">Clear High Scores</button>
                <button id="exportHighScores" onclick="window.highScoreTracker.exportHighScoresToClipBoardAsJsonString()">Copy High Scores to Clipboard</button>
            </div>
        </div>
    </div>
    <!-- END_SHARED_SECTION: play-progress -->

    <div id="threeJSContainer" class="bordered">
        <h3>3D View</h3>
        <canvas id="threeCanvas"></canvas>
    </div>

    <!-- Camera Control UI (visible only when game is stopped) -->
    <div id="cameraControlPanel" class="bordered" style="display: none;">
            <div class="side-by-side">
                <div class="bordered">
                    <h4>Camera Controls</h4>
                    <p><strong>Mouse:</strong> Click and drag to rotate<br>
                       <strong>WASD:</strong> Move camera (W=forward, S=backward, A=left, D=right)<br>
                       <strong>Up/Down:</strong> Move camera vertically</p>
                </div>
                <div class="bordered">
                    <h4>Camera Position</h4>
                    <label>X: <input type="number" id="cameraPosX" step="0.1"></label><br>
                    <label>Y: <input type="number" id="cameraPosY" step="0.1"></label><br>
                    <label>Z: <input type="number" id="cameraPosZ" step="0.1"></label>
                </div>
                <div class="bordered">
                    <h4>Look At</h4>
                    <label>X: <input type="number" id="cameraLookAtX" step="0.1"></label><br>
                    <label>Y: <input type="number" id="cameraLookAtY" step="0.1"></label><br>
                    <label>Z: <input type="number" id="cameraLookAtZ" step="0.1"></label>
                </div>
        </div>
        <div id="cameraInstructions" class="bordered" style="background-color: #e8f4fd; padding: 10px; margin-top: 10px;">
            <strong>Camera Controls Active:</strong> Use mouse to look around, WASD to move the camera.<br>
            Use the Camera Presets dropdown to quickly switch between views.<br>
            Press "Start Camera Control" to begin.
        </div>

        <!-- Hover Info Display (visible only when camera controls are active) -->
        <div id="hoverInfo" class="bordered" style="background-color: #e8f4fd; padding: 10px; margin-top: 10px;">
            <h4>Hover Info</h4>
            <div><strong>Object:</strong> <span id="hoverInfoObject">None</span></div>
            <div><strong>World Position:</strong> <span id="hoverInfoWorldPos">-</span></div>
            <div><strong>Screen Position:</strong> <span id="hoverInfoScreenPos">-</span></div>
            <div><strong>Grid Column:</strong> <span id="hoverInfoColumn">-</span></div>
            <div><strong>Grid Row:</strong> <span id="hoverInfoRow">-</span></div>
            <div><strong>Time:</strong> <span id="hoverInfoTime">-</span></div>
        </div>

        <button id="toggleCameraControls" onclick="toggleCameraControls()">Start Camera Control</button>
        <button id="resetCamera" onclick="resetCamera()">Reset Camera</button>

        <!-- Camera Preset Selector -->
        <div class="bordered" style="margin-top: 10px;">
            <h4>Camera Presets</h4>
            <select id="cameraPresetSelect" class="pure-input-rounded" style="width: 100%;">
                <option value="">-- Select a preset --</option>
            </select>
        </div>
    </div>

    <!-- Hidden canvas for 2D debug rendering -->
    <canvas id="notesCanvas" style="display:none;"></canvas>

    <div id="notesPlaying">
        <div class="bordered">{{renderedNotesPlaying}}</div>
    </div>

    <div class="side-by-side" id="songNoteKeys">
        <div class="bordered">Mapped Keys<br />{{ songNotesOnKeyMap }}</div>
        <div class="bordered">Song Notes<br />{{ songNotes }}</div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/tone@14.9.17/build/Tone.js"></script>
<script src="https://unpkg.com/@tonejs/midi"></script>
<script src="../src/js/themeSwitcher.js"></script>
<script src="../src/js/collapsibleSections.js"></script>
<script>
    window.toggleInstructionsSection = createSectionToggle('Instructions', 'instructionsWrapper');
    window.toggleGameConfigSection = createSectionToggle('gameConfig', 'gameConfigWrapper');
</script>

<script type="importmap">
{
    "imports": {
        "three": "https://unpkg.com/three@0.183.0/build/three.module.js",
        "three/examples/jsm/loaders/FontLoader.js": "https://unpkg.com/three@0.183.0/examples/jsm/loaders/FontLoader.js",
        "three/examples/jsm/geometries/TextGeometry.js": "https://unpkg.com/three@0.183.0/examples/jsm/geometries/TextGeometry.js"
    }
}
</script>

<script type="module">
        import { createApp, markRaw } from 'https://unpkg.com/vue@3.5.30/dist/vue.esm-browser.js';
        import * as THREE from 'three';
        import { FontLoader } from 'three/examples/jsm/loaders/FontLoader.js';
        import { TextGeometry } from 'three/examples/jsm/geometries/TextGeometry.js';

        const Tone = window.Tone;

        console.log('Tone version:', Tone.Version);
        console.log('THREE version:', THREE.REVISION);

        import { 
    initializeMidiestroBase, 
    getDebugFlag, 
    setupFileDropHandlers, 
    initializeUIVisibility, 
    createGameStateTracker 
} from './MyESModules/MidiestroBase.js';
        import { getMidiParser, enablePlayButton } from './MyESModules/MidiParser.js';
        import { getGameSessionManager } from './MyESModules/GameSessionManager.js';
        import getChallengeScores from './MyESModules/challengeScores.js';
        import { createSongDisplayManager } from './MyESModules/SongDisplayManager.js';
        import getScoringSettings from './MyESModules/scoringSettings.js';
        import getScoreKeeper from './MyESModules/ScoreKeeper.js';
        import getGameController from './MyESModules/GameController.js';
        import getThreeJSGameController from './MyESModules/ThreeJSGameController.js';
        import { getVisibleFieldFilterer } from './MyESModules/VisibleFieldFilterer.js';
        import getThreeJSRenderer from './MyESModules/ThreeJSRenderer.js';
        import { createPlayButtonService } from './MyESModules/PlayButtonService.js';
        import { createCameraCoordinator } from './MyESModules/CameraCoordinator.js';
        import { createMidiestroApp } from './MyESModules/createMidiestroApp.js';
        import { getCameraUIManager } from './MyESModules/CameraUIManager.js';
        import { createGameData } from './MyESModules/createGameData.js';
        import { createGameMethods } from './MyESModules/createGameMethods.js';
        import { createGameLifecycle } from './MyESModules/createGameLifecycle.js';
        import { createGameServices } from './MyESModules/createGameServices.js';
        import getDomUtils from './MyESModules/DomUtils.js';
        import getInputHandler from './MyESModules/InputHandler.js';
        import { createThreeDMode } from './MyESModules/GameModeStrategy.js';

        const debugPage = getDebugFlag();

        window.domUtils = getDomUtils();
        initializeUIVisibility(debugPage);

        const base = initializeMidiestroBase(Tone);

        const {
            localStorageService,
            midiSongs,
            difficultySettings,
            highScoreTracker,
            keyNoteMapService,
            songNoteRenderer,
            themeService,
            componentRegistry,
            synthKeyPlayer,
            keyRenderInfo,
            difficultySettingsCalculator,
            toneHelper,
            keyNoteMapCollection,
            keyNoteMapKeys,
            defaultKeyNoteMap,
            synthArray,
            defaultNotesPlaying,
            defaultSongNotes,
            defaultSongNotesOnKeyMap
        } = base;

        const gameState = createGameStateTracker();

        window.highScoreTracker = highScoreTracker;
        
        const challengeScoresObj = getChallengeScores();
        const visibleFieldFilterer = getVisibleFieldFilterer();

        const synthMap = {};
        let songEnd = null;
        let currentMidi = null;
        const songDifficultySettings = base.songDifficultySettings.get();

        const pressedKeys = componentRegistry.getPressedKeys();
        const midiParser = getMidiParser(markRaw);

        const songDisplayManager = createSongDisplayManager(songNoteRenderer, keyNoteMapService);
        songDisplayManager.setDebugMode(debugPage);

        const gameController = getGameController(Tone);
        const threeJSGameController = getThreeJSGameController(Tone);
        const gameSessionManager = getGameSessionManager();
        const cameraUIManager = getCameraUIManager();

        window.addEventListener('resize', function() {
            if (app && app.threeJSRenderer) {
                app.threeJSRenderer.resize();
            }
        });

        window.onload = function(){
            let app = null;
            
            // Game state and UI variables (must be declared before functions that use them)
            let playButtonService = null;
            let cameraControlsActive = false;
            let cameraCoordinator = null;

            // Camera update loop variables
            let cameraUpdateInterval = null;

            // Helper functions that reference app (defined before use)
            function playNotes(){
                synthKeyPlayer.playNotes(app, pressedKeys, synthMap, synthArray);
            }

            async function parseFile(file) {
                await midiParser.parseMidiFile(file, setupSongFromMidiResult);
            }

            setupFileDropHandlers("FileDrop", parseFile, debugPage);

            function togglePlay() {
                const wasPlaying = gameState.isPlaying;
                gameState.toggle();
                const playing = gameState.isPlaying;

                
                if (playButtonService) {
                    playButtonService.updateText(playing);
                }

                if (playing && currentMidi) {
                    const containerElement = document.getElementById("threeJSContainer");
                    if (containerElement) {
                        containerElement.scrollIntoView({ behavior: "smooth" });
                    }

                    if (cameraCoordinator) {
                        cameraCoordinator.onGameStarted();
                    }

                    return gameSessionManager.prepareAndStartGame(
                        app,
                        songDifficultySettings,
                        visibleFieldFilterer,
                        keyRenderInfo,
                        threeJSGameController,
                        currentMidi,
                        songEnd,
                        songNoteRenderer,
                        keyNoteMapService.getInvertedMap.bind(keyNoteMapService),
                        difficultySettingsCalculator,
                        componentRegistry.getPressedKeys()
                    );
                } else {
                    if (cameraCoordinator) {
                        cameraCoordinator.onGameStopped();
                    }

                    return gameSessionManager.stopGame(threeJSGameController, app);
                }
            }

function disableCameraControls() {
                cameraControlsActive = false;
                if (cameraCoordinator) {
                    cameraCoordinator.disableControls();
                }
            }

            function enableCameraControls() {
                cameraControlsActive = true;
                if (cameraCoordinator) {
                    cameraCoordinator.enableControls();
                }
            }

            function toggleCameraControls() {
                if (cameraControlsActive) {
                    disableCameraControls();
                    document.getElementById('toggleCameraControls').textContent = 'Start Camera Control';
                } else {
                    enableCameraControls();
                    document.getElementById('toggleCameraControls').textContent = 'Stop Camera Control';
                }
            }

            function resetCamera() {
                if (app && app.threeJSRenderer) {
                    app.threeJSRenderer.resetCamera();
                    const state = app.threeJSRenderer.getCameraDisplayState();

                    cameraUIManager.updateCameraInputFields(state);
                }
            }

            function applyCameraPreset() {
                if (!app || !app.threeJSRenderer) return;

                const select = document.getElementById('cameraPresetSelect');
                const presetKey = select.value;

                if (presetKey) {
                    app.threeJSRenderer.applyCameraPreset(presetKey);
                    select.value = "";
                }
            }

            function setupCameraPresetDropdown(appInstance) {
                const select = document.getElementById('cameraPresetSelect');
                if (!select || !appInstance || !appInstance.threeJSRenderer) return;

                const presets = appInstance.threeJSRenderer.getCameraPresetList();
                presets.forEach(function(presetKey) {
                    const option = document.createElement('option');
                    option.value = presetKey;
                    option.textContent = appInstance.threeJSRenderer.getCameraPresetName(presetKey);
                    select.appendChild(option);
                });

                select.addEventListener('change', applyCameraPreset);
            }

            function startCameraUpdateLoop() {
                if (cameraUpdateInterval) return;
                cameraUpdateInterval = setInterval(updateCameraDisplay, 50);
            }

            function stopCameraUpdateLoop() {
                if (cameraUpdateInterval) {
                    clearInterval(cameraUpdateInterval);
                    cameraUpdateInterval = null;
                }
            }

            function updateCameraDisplay() {
                if (!app || !app.threeJSRenderer) return;

                const state = app.threeJSRenderer.getCameraDisplayState();

                cameraUIManager.updateCameraInputFields(state);
                app.threeJSRenderer.updateCameraFromControls();
            }

            function setupCameraInputHandlers() {
                document.getElementById('cameraPosX').addEventListener('change', updateCameraFromUI);
                document.getElementById('cameraPosY').addEventListener('change', updateCameraFromUI);
                document.getElementById('cameraPosZ').addEventListener('change', updateCameraFromUI);
                document.getElementById('cameraLookAtX').addEventListener('change', updateCameraFromUI);
                document.getElementById('cameraLookAtY').addEventListener('change', updateCameraFromUI);
                document.getElementById('cameraLookAtZ').addEventListener('change', updateCameraFromUI);
            }

            function updateCameraFromUI() {
                if (!app || !app.threeJSRenderer || !cameraControlsActive) return;

                const position = {
                    x: parseFloat(document.getElementById('cameraPosX').value),
                    y: parseFloat(document.getElementById('cameraPosY').value),
                    z: parseFloat(document.getElementById('cameraPosZ').value)
                };
                const lookAt = {
                    x: parseFloat(document.getElementById('cameraLookAtX').value),
                    y: parseFloat(document.getElementById('cameraLookAtY').value),
                    z: parseFloat(document.getElementById('cameraLookAtZ').value)
                };

                app.threeJSRenderer.setCameraFromUI(position, lookAt);
            }

            function setupCameraInputDefaults(appInstance) {
                if (!appInstance || !appInstance.threeJSRenderer) return;

                const defaults = appInstance.threeJSRenderer.getDefaultCameraStateForUI();
                if (!defaults) return;

                cameraUIManager.setCameraInputDefaults(defaults);
            }

            // Main initialization code starts here
            const gameMode = createThreeDMode();

            const createAppRef = createApp; // Reference at top of function
            
            // Define renderSongNotes using SongDisplayManager
            function renderSongNotes(){
                if(songEnd) {
                    app.songEnd = (songEnd / 60).toFixed(2) + " minutes";
                }
                
                const displayData = songDisplayManager.renderSongNotesForDisplay(currentMidi, app);
                
                if (displayData) {
                    app.songNotes = displayData.songNotes;
                    app.songNotesOnKeyMap = displayData.songNotesOnKeyMap;
                    
if (debugPage && currentMidi && app.selectedTrack !== "") {
                         const invertedKeyNoteMap = keyNoteMapService.getInvertedMap(app.selectedKeyNoteMap.keyNoteMap);
                         const song = app.selectedTrack.notes;
                         app.renderedNotesPlaying = songDisplayManager.renderDebugNotesPlaying(app.notesCanvas, song, {keyScores: {}}, invertedKeyNoteMap, 0, 0);

                         if (app.threeJSRenderer && app.keyRenderInfo) {
                             const visibleField = songDisplayManager.create3DVisibleField(song, invertedKeyNoteMap);
                             app.threeJSRenderer.addNotesFromVisibleField(visibleField, app.keyRenderInfo);
                         }
                     }

                    window.focus();
                    if (document.activeElement) {
                        document.activeElement.blur();
                    }
                }
            }

            // Define setupSongFromMidiResult using MidiParser methods (error-first callback)
            function setupSongFromMidiResult(error, midiResult) {
                if (error) {
                    console.error('Failed to parse MIDI file:', error);
                    alert('Error parsing MIDI file: ' + error.message);
                    return;
                }
                
                const result = midiParser.setupSongFromMidiResult(midiResult, app);
                
                songEnd = result.songEnd;
                currentMidi = { tracks: result.tracks };

                if (playButtonService) {
                    playButtonService.enable();
                    playButtonService.setInitialText();
                }

                renderSongNotes();
            }

            const dataConfig = createGameData({ 
                mode: gameMode.modeId,
                midiSongs,
                defaultKeyNoteMap,
                keyNoteMapCollection,
                difficultySettings,
                highScoreTracker,
                challengeScoresObj,
                defaultNotesPlaying,
                defaultSongNotes,
                defaultSongNotesOnKeyMap,
                keyRenderInfo
            });

            const methodsConfig = createGameMethods({ 
                renderSongNotes,
                setupSongFromMidiResult,
                highScoreTracker,
                challengeScoresObj,
                gameController,
                midiParser
            });

            const lifecycleConfig = createGameLifecycle(gameMode.modeId, {
                getScoreKeeper,
                getScoringSettings,
                getInputHandler,
                pressedKeys,
                synthMap,
                synthArray,
                playNotes,
                componentRegistry,
                songNoteRenderer,
                keyNoteMapService,
                highScoreTracker,
                challengeScoresObj,
                themeService
            });

            const servicesConfig = createGameServices({ 
                midiParser,
                songNoteRenderer,
                keyNoteMapService,
                componentRegistry,
                getScoreKeeper,
                getScoringSettings 
            });

            app = createMidiestroApp({ 
                mode: gameMode,
                createApp: createAppRef,
                dataConfig,
                methodsConfig,
                lifecycleConfig,
                servicesConfig,
                dependencies: {
                    registry: componentRegistry,
                    THREE: THREE,
                    FontLoader: FontLoader,
                    TextGeometry: TextGeometry
                }
            }).mount('#app');

            // Initialize camera coordinator AFTER Vue mounts (when threeJSRenderer is available)
            if (app.threeJSRenderer && app.inputHandler) {
                cameraCoordinator = createCameraCoordinator(app.threeJSRenderer, app.inputHandler, startCameraUpdateLoop, stopCameraUpdateLoop);
            }

            // Expose camera functions to window for onclick handlers
            window.toggleCameraControls = toggleCameraControls;
            window.resetCamera = resetCamera;

            // Create playButtonService AFTER Vue mounts to ensure correct button reference
            playButtonService = createPlayButtonService('tonePlayToggle');
            
            // Expose togglePlay to window for onclick handlers (defined inside onload)
            window.togglePlay = togglePlay;
            
};
    </script>
</body>

</html>