<!DOCTYPE html>
<!--
    Midiestro3DES - ES Module version of Midiestro3D.html
    Uses modern ES module imports from MyESModules directory
-->
<html>

<head>    
    <title>Midiestro 3D - ES Modules</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link href="../Styles.css" rel="stylesheet" />
    <link rel="shortcut icon" href="./favicon.ico" />
</head>

<body>
    <div id="toneContent">
        <div id="Instructions" class="bordered">
            <h2>Instructions</h2>
            <p>
                This page is a musical typing game, where you can take a midi file and try to match the notes played on your keyboard for points!
            </p>
            <p>
                To play:
                <ul>
                    <li>Drop a midi file on the panel below.</li>
                    <li>Press the Play button.</li>
                    <li>Watch the falling keys, and try to press the key when it gets to the bottom of the game window.</li>
                </ul>
            </p>
            <p>
                As a simple song to start with, here is a place to download <a href="https://onlinesequencer.net/4101480#">Mary Had a Little Lamb</a> .  On the website, choose "Download MIDI"
            </p>
            <p>
                You can find more midi files to download and try out at the links below.
                <ul>
                    <li><a href="https://bbloomf.github.io/lilypond-songs">https://bbloomf.github.io/lilypond-songs</a></li>
                    <li><a href="https://onlinesequencer.net/sequences">https://onlinesequencer.net/sequences</a></li>
                    <li><a href="http://www.soundswell.co.uk/pages/swmids.htm">http://www.soundswell.co.uk/pages/swmids.htm</a></li>
                    <li><a href="http://midi.music.arizona.edu/purpose.php">http://midi.music.arizona.edu/search.php</a></li>
                </ul>
            </p>
            <div id="FileDrop">
                <div id="Text">
                    Drop a midi file here, or click to select a file from the wizard.  Or use the select box below to choose a Preloaded Song instead.
                </div>
                <input type="file" accept="audio/midi" />
            </div>
        </div>
        <button id="toggleInstructions" onclick="window.domUtils.toggleElementById('Instructions')">Toggle Instructions And Advanced Song Selection</button>
    </div>

    <div id="app">
        <div id="midiSongConfig" class="bordered">
            <div class="bordered">
                <label for="midiSongSelect">Select a Preloaded Song</label>
                <select id="midiSongSelect" v-model="selectedMidiSong" class="pure-input-rounded" v-on:change="handleMidiSongSelection()">
                    <option v-for="(item, key, index) in midiSongs" :value="item">{{key}}</option>
                </select>
            </div>
        </div>

        <div id="gameConfig" class="bordered">
            <div class="bordered">
                Please note: most of these options require the song to be restarted in order to take affect.
            </div>

            <div id="trackOptionConfig" class="side-by-side">
                <div class="bordered">
                    <label for="trackSelect">Select Track to play</label>
                    <select id="trackSelect" v-model="selectedTrack" class="pure-input-rounded" v-on:change="renderSongNotes()">
                        <option v-for="(item, key, index) in availableTracks" :value="item">{{item.name}} ({{ item.notes.length }} notes, starts at {{ item.notes[0].time }})</option>
                    </select>
                </div>
                <div class="bordered">
                    If you want to play the parts of a particular track, you can select an individual one to display here.  Otherwise notes from all tracks will be used to display.
                </div>
            </div>

            <div id="keyNoteMapConfig" class="side-by-side">
                <div class="bordered">
                    <label for="keyNoteMapSelect">Select a Keyboard Layout</label>
                    <select id="keyNoteMapSelect" v-model="selectedKeyNoteMap" class="pure-input-rounded" v-on:change="renderSongNotes()">
                        <option v-for="(item, key, index) in availableKeyNoteMaps" :value="item">{{key}}</option>
                    </select>
                </div>
                <div class="bordered">
                    {{selectedKeyNoteMap.description}}
                </div>
            </div>

            <div id="difficultyConfig" class="side-by-side">
                <div class="bordered">
                    <div id="difficulty">
                        <label for="difficultySelect">Select a Difficulty</label>
                        <select id="difficultySelect" v-model="selectedDifficulty" class="pure-input-rounded" v-on:change="setDifficulty()">
                            <option v-for="(item, key, index) in difficultySettings" :value="item">{{key}}</option>
                        </select>
                    </div>
                </div>
                <div class="bordered">
                    This sets how close together notes will be during play.  More notes will appear on harder difficulties, and they will be a bit harder to read due to how they letters stack up.  Not all songs are affected by difficulty changes similarly.
                </div>
            </div>

            <div id="trackVolumeConfig" class="side-by-side">
                <div class="bordered">
                    <div id="trackVolume">
                        <label for="trackVolume">Track Volume {{trackVolume}}</label>
                        <input type="range" class="fullRange" id="trackVolume" v-model="trackVolume" min="0" max="1" step=".01"></input>
                    </div>
                </div>
                <div class="bordered">
                    This sets the volume of each track.  The smaller the value, the quieter the background music will be.
                </div>
            </div>

            <div id="playerVolumeConfig" class="side-by-side">
                <div class="bordered">
                    <div id="playerVolume">
                        <label for="playerVolume">Player Volume {{playerVolume}}</label>
                        <input type="range" class="fullRange" id="playerVolume" v-model="playerVolume" min="0" max="1" step=".01"></input>
                    </div>
                </div>
                <div class="bordered">
                    This sets the volume of the player's audio.  The smaller the value, the quieter the notes played on the keyboard will be.
                </div>
            </div>
        </div>
        <button id="toggleGameConfig" onclick="window.domUtils.toggleElementById('gameConfig')">Toggle Game Configurations</button>

        <!-- Camera Control UI (visible only when game is stopped) -->
        <div id="cameraControlPanel" class="bordered" style="display: none;">
            <div class="side-by-side">
                <div class="bordered">
                    <h4>Camera Controls</h4>
                    <p><strong>Mouse:</strong> Click and drag to rotate<br>
                       <strong>WASD:</strong> Move camera (W=forward, S=backward, A=left, D=right)<br>
                       <strong>Up/Down:</strong> Move camera vertically</p>
                </div>
                <div class="bordered">
                    <h4>Camera Position</h4>
                    <label>X: <input type="number" id="cameraPosX" step="0.1"></label><br>
                    <label>Y: <input type="number" id="cameraPosY" step="0.1"></label><br>
                    <label>Z: <input type="number" id="cameraPosZ" step="0.1"></label>
                </div>
                <div class="bordered">
                    <h4>Look At</h4>
                    <label>X: <input type="number" id="cameraLookAtX" step="0.1"></label><br>
                    <label>Y: <input type="number" id="cameraLookAtY" step="0.1"></label><br>
                    <label>Z: <input type="number" id="cameraLookAtZ" step="0.1"></label>
                </div>
            </div>
            <div id="cameraInstructions" class="bordered" style="background-color: #e8f4fd; padding: 10px; margin-top: 10px;">
                <strong>Camera Controls Active:</strong> Use mouse to look around, WASD to move the camera.<br>
                Use the Camera Presets dropdown to quickly switch between views.<br>
                Press "Start Camera Control" to begin.
            </div>

            <!-- Hover Info Display (visible only when camera controls are active) -->
            <div id="hoverInfo" class="bordered" style="background-color: #e8f4fd; padding: 10px; margin-top: 10px;">
                <h4>Hover Info</h4>
                <div><strong>Object:</strong> <span id="hoverInfoObject">None</span></div>
                <div><strong>World Position:</strong> <span id="hoverInfoWorldPos">-</span></div>
                <div><strong>Screen Position:</strong> <span id="hoverInfoScreenPos">-</span></div>
                <div><strong>Grid Column:</strong> <span id="hoverInfoColumn">-</span></div>
                <div><strong>Grid Row:</strong> <span id="hoverInfoRow">-</span></div>
                <div><strong>Time:</strong> <span id="hoverInfoTime">-</span></div>
            </div>

            <button id="toggleCameraControls" onclick="toggleCameraControls()">Start Camera Control</button>
            <button id="resetCamera" onclick="resetCamera()">Reset Camera</button>

            <!-- Camera Preset Selector -->
            <div class="bordered" style="margin-top: 10px;">
                <h4>Camera Presets</h4>
                <select id="cameraPresetSelect" class="pure-input-rounded" style="width: 100%;">
                    <option value="">-- Select a preset --</option>
                </select>
            </div>
        </div>

        <div id="playProgress">
            <div id="SongTime">
                Song EndTime: [{{ songEnd }}]
                <input type="checkbox" v-model="toggleTrackHighScores" v-on:change="handleToggleTrackHighScores()"> Track High Scores (uses <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage">localStorage)</a></input>
            </div>
            <button id="tonePlayToggle" onclick="togglePlay()" disabled>Play</button>
            <span>Score: [{{ score }}]  Good [{{ goodCount }}] Ok [{{ okCount }}] Bad [{{badCount}}] Missed [{{missedCount}}]</span>
            <div id="SongHighScore">
                High Score: [{{ highScore }}] Challenge Score: [{{ challengeScore }}]
                <button id="clearHighScores" onclick="window.highScoreTracker.exportHighScoresToClipBoardAsJsonString(); localStorage.clear(); app.toggleTrackHighScores = false; window.domUtils.toggleElementById('SongHighScore');">Clear High Scores</button>
                <button id="exportHighScores" onclick="window.highScoreTracker.exportHighScoresToClipBoardAsJsonString()">Copy High Scores to Clipboard</button>
            </div>
        </div>

        <div class="canvas-container-wrapper">
            <div id="canvasContainer" class="bordered">
                <canvas id="notesCanvas"></canvas>
            </div>
            <div id="threeJSContainer" class="bordered">
                <h3>3D View</h3>
                <canvas id="threeCanvas"></canvas>
            </div>
        </div>

        <div id="notesPlaying">
            <div class="bordered">{{renderedNotesPlaying}}</div>
        </div>

        <div class="side-by-side" id="songNoteKeys">
            <div class="bordered">Mapped Keys<br />{{ songNotesOnKeyMap }}</div>
            <div class="bordered">Song Notes<br />{{ songNotes }}</div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/tone@14.9.17/build/Tone.js"></script>
<script src="https://unpkg.com/@tonejs/midi"></script>

<script type="importmap">
{
    "imports": {
        "three": "https://unpkg.com/three@0.183.0/build/three.module.js",
        "three/examples/jsm/loaders/FontLoader.js": "https://unpkg.com/three@0.183.0/examples/jsm/loaders/FontLoader.js",
        "three/examples/jsm/geometries/TextGeometry.js": "https://unpkg.com/three@0.183.0/examples/jsm/geometries/TextGeometry.js"
    }
}
</script>

<script type="module">
        import { createApp, markRaw } from 'https://unpkg.com/vue@3.5.30/dist/vue.esm-browser.js';
        import * as THREE from 'three';
        import { FontLoader } from 'three/examples/jsm/loaders/FontLoader.js';
        import { TextGeometry } from 'three/examples/jsm/geometries/TextGeometry.js';

        const Tone = window.Tone;

        console.log('Tone version:', Tone.Version);
        console.log('THREE version:', THREE.REVISION);

        import { getToneHelper } from './MyESModules/ToneHelper.js';
        import { getSynthKeyPlayer } from './MyESModules/SynthKeyPlayer.js';
        import getKeyNoteMaps from './MyESModules/keyNoteMaps.js';
        import { getKeyNoteMapService } from './MyESModules/KeyNoteMapService.js';
        import { getSongNoteRenderer } from './MyESModules/SongNoteRenderer.js';
        import getKeyRenderInfo from './MyESModules/keyRenderInfo.js';
        import { getVisibleFieldFilterer } from './MyESModules/VisibleFieldFilterer.js';
        import getScoreKeeper from './MyESModules/ScoreKeeper.js';
        import getScoringSettings from './MyESModules/scoringSettings.js';
        import getGameController from './MyESModules/GameController.js';
        import getThreeJSGameController from './MyESModules/ThreeJSGameController.js';
        import getGameState from './MyESModules/GameState.js';
        import getMidiSongList from './MyESModules/midiSongList.js';
        import getDifficultySettings from './MyESModules/difficultySettings.js';
        import getHighScoreTracker from './MyESModules/highScoreTracker.js';
        import getChallengeScores from './MyESModules/challengeScores.js';
        import { getDifficultySettingsCalculator } from './MyESModules/difficultySettingsCalculator.js';
        import getDomUtils from './MyESModules/DomUtils.js';
        import getFileDropHandler from './MyESModules/FileDropHandler.js';
        import getInputHandler from './MyESModules/InputHandler.js';
        import getComponentRegistry from './MyESModules/ComponentRegistry.js';
        import { getMidiParser } from './MyESModules/MidiParser.js';
        import getThreeJSRenderer from './MyESModules/ThreeJSRenderer.js';

        const queryString = window.location.search;
        const debugPage = queryString == "?debug";

        // Make domUtils globally accessible for onclick handlers
        window.domUtils = getDomUtils();
        window.domUtils.toggleElementById('Instructions');
        window.domUtils.toggleElementById('gameConfig');

        if(!debugPage){
            window.domUtils.toggleElementById('songNoteKeys');
            window.domUtils.toggleElementById('notesPlaying');
            window.domUtils.toggleElementById('exportHighScores');
        }

        var midiSongs = getMidiSongList();
        const sortedMidiSongs = Object.fromEntries(Object.keys(midiSongs).sort().map(key => [key, midiSongs[key]]));
        midiSongs = sortedMidiSongs;

        const localStorageService = {
            getItem: localStorage.getItem.bind(localStorage),
            setItem: localStorage.setItem.bind(localStorage),
            key: localStorage.key.bind(localStorage),
            get length() { return localStorage.length; }
        };

        const highScoreTracker = getHighScoreTracker(localStorageService);
        window.highScoreTracker = highScoreTracker;
        const challengeScoresObj = getChallengeScores();

        var synthKeyPlayer = getSynthKeyPlayer();
        var keyNoteMapService = getKeyNoteMapService();
        var songNoteRenderer = getSongNoteRenderer(keyNoteMapService);
        const keyRenderInfo = getKeyRenderInfo();
        const difficultySettingsObj = getDifficultySettings();
        const difficultySettingsCalculator = getDifficultySettingsCalculator();
        var songDifficultySettings = null;
        var noteLetterCache = songNoteRenderer.buildSongNoteLetterCache(keyRenderInfo);
        var toneHelper = getToneHelper(Tone);
        var visibleFieldFilterer = getVisibleFieldFilterer();
        var synthMap = {};
        var songEnd = null;
        const synthArray = [];

        // Create ComponentRegistry for dependency injection
        var componentRegistry = getComponentRegistry();
        const pressedKeys = componentRegistry.getPressedKeys();

        const keyNoteMapCollection = getKeyNoteMaps();
        const keyNoteMapKeys = Object.keys(keyNoteMapCollection);
        const defaultKeyNoteMap = keyNoteMapCollection[keyNoteMapKeys[0]];

        var defaultNotesPlaying = "";
        var defaultSongNotes = "";
        var defaultSongNotesOnKeyMap = "";
        var defaultFMSynthParams = toneHelper.getDefaultFMSynthParams();

        toneHelper.buildSynths(defaultFMSynthParams, synthArray, 10);

        var app;

        function playNotes(){
            synthKeyPlayer.playNotes(app, pressedKeys, synthMap, synthArray);
        }

        function writeLog(logEntry){
            if(debugPage == true){
                console.log(logEntry);
            }
        }

        var fileDropHandler = getFileDropHandler();

        if (fileDropHandler.isFileAPISupported()) {
            fileDropHandler.setupFileDrop("FileDrop", function(file) {
                document.querySelector("#FileDrop #Text").textContent = file.name;
                parseFile(file);
            });
        } else {
            document.querySelector("#FileDrop #Text").textContent = "Reading files not supported by this browser";
        }

        var inputHandler;
        
        let currentMidi = null;
        var midiParser = getMidiParser(markRaw);
        
        async function parseFile(file) {
            await midiParser.parseMidiFile(file, setupSongFromMidiResult);
        }

        function setupSongFromMidiResult(midiResult) {
            const parsed = midiParser.extractTracks(midiResult);

            app.availableTracks = parsed.tracks;
            app.availableTracks.unshift(parsed.fullTrack);
            app.selectedTrack = app.availableTracks[0];

            songEnd = parsed.songEnd;
            currentMidi = { tracks: parsed.tracks };

            var playButton = document.getElementById('tonePlayToggle');
            playButton.removeAttribute('disabled');
            playButton.textContent = 'Play';

            renderSongNotes();
        }

        // Create the game controller instances
        var gameController = getGameController(Tone);
        var threeJSGameController = getThreeJSGameController(Tone);

        var playing = false;
        var cameraControlsActive = false;

        function togglePlay() {
            var playButton = document.getElementById('tonePlayToggle');
            playing = !playing;
            if (playing) {
                playButton.textContent = 'Stop';
                disableCameraControls();
            } else {
                playButton.textContent = 'Restart';
                enableCameraControls();
            }

            if (playing && currentMidi) {
                if (document.activeElement) {
                    document.activeElement.blur();
                }

                const invertedKeyNoteMap = keyNoteMapService.getInvertedMap(app.selectedKeyNoteMap.keyNoteMap);
                const containerElement = document.getElementById("canvasContainer");
                containerElement.scrollIntoView({ behavior: "smooth" });

                var visibleField = [];
                if (songDifficultySettings) {
                    const songDifficulty = songDifficultySettings[app.selectedDifficulty.difficultyKey];
                    visibleField = visibleFieldFilterer.filterToFullVisibleField(app.selectedTrack.notes, songDifficulty.minNoteDistance, songDifficulty.minNoteDuration, invertedKeyNoteMap, keyRenderInfo, app.notesCanvas, songNoteRenderer);
                } else {
                    const targetNotesPerMinute = app.selectedDifficulty.targetNotesPerMinute;
                    visibleField = difficultySettingsCalculator.getTargetVisibleField(targetNotesPerMinute, app.selectedTrack.notes, invertedKeyNoteMap, visibleFieldFilterer, keyRenderInfo, app.notesCanvas, songNoteRenderer, songEnd).visibleField;
                }

                app.noteLetterCache = songNoteRenderer.buildSongNoteLetterCache(keyRenderInfo);

                threeJSGameController.startGame(
                    app,
                    currentMidi,
                    songDifficultySettings,
                    songEnd,
                    visibleField,
                    app.threeJSRenderer,
                    componentRegistry.getPressedKeys()
                );

            } else {
                threeJSGameController.stopGame(app);
            }
        }

        function disableCameraControls() {
            cameraControlsActive = false;
            if (app && app.threeJSRenderer) {
                app.threeJSRenderer.disableCameraControls();
                app.threeJSRenderer.disableHoverInfo();
            }
            inputHandler.setNoteInputEnabled(true);
            document.getElementById('cameraControlPanel').style.display = 'none';
            stopCameraUpdateLoop();
        }

        function enableCameraControls() {
            cameraControlsActive = true;
            if (app && app.threeJSRenderer) {
                app.threeJSRenderer.enableCameraControls();
                app.threeJSRenderer.enableHoverInfo();
                var hoverInfoElement = document.getElementById('hoverInfo');
                if (hoverInfoElement) {
                    app.threeJSRenderer.setHoverInfoElement(hoverInfoElement);
                }
            }
            inputHandler.setNoteInputEnabled(false);
            document.getElementById('cameraControlPanel').style.display = 'block';
            document.getElementById('cameraInstructions').style.display = 'none';
            startCameraUpdateLoop();
        }

        function toggleCameraControls() {
            if (cameraControlsActive) {
                disableCameraControls();
                document.getElementById('toggleCameraControls').textContent = 'Start Camera Control';
            } else {
                enableCameraControls();
                document.getElementById('toggleCameraControls').textContent = 'Stop Camera Control';
            }
        }

        function resetCamera() {
            if (app && app.threeJSRenderer) {
                app.threeJSRenderer.resetCamera();
                var state = app.threeJSRenderer.getCameraDisplayState();

                document.getElementById('cameraPosX').value = state.position.x.toFixed(2);
                document.getElementById('cameraPosY').value = state.position.y.toFixed(2);
                document.getElementById('cameraPosZ').value = state.position.z.toFixed(2);

                document.getElementById('cameraLookAtX').value = state.lookAt.x.toFixed(2);
                document.getElementById('cameraLookAtY').value = state.lookAt.y.toFixed(2);
                document.getElementById('cameraLookAtZ').value = state.lookAt.z.toFixed(2);
            }
        }

        function applyCameraPreset() {
            if (!app || !app.threeJSRenderer) return;

            var select = document.getElementById('cameraPresetSelect');
            var presetKey = select.value;

            if (presetKey) {
                app.threeJSRenderer.applyCameraPreset(presetKey);
                select.value = "";
            }
        }

        function setupCameraPresetDropdown(appInstance) {
            var select = document.getElementById('cameraPresetSelect');
            if (!select || !appInstance || !appInstance.threeJSRenderer) return;

            var presets = appInstance.threeJSRenderer.getCameraPresetList();
            presets.forEach(function(presetKey) {
                var option = document.createElement('option');
                option.value = presetKey;
                option.textContent = appInstance.threeJSRenderer.getCameraPresetName(presetKey);
                select.appendChild(option);
            });

            select.addEventListener('change', applyCameraPreset);
        }

        // Camera update loop variables
        var cameraUpdateInterval = null;

        function startCameraUpdateLoop() {
            if (cameraUpdateInterval) return;
            cameraUpdateInterval = setInterval(updateCameraDisplay, 50);
        }

        function stopCameraUpdateLoop() {
            if (cameraUpdateInterval) {
                clearInterval(cameraUpdateInterval);
                cameraUpdateInterval = null;
            }
        }

        function updateCameraDisplay() {
            if (!app || !app.threeJSRenderer) return;

            var state = app.threeJSRenderer.getCameraDisplayState();

            document.getElementById('cameraPosX').value = state.position.x.toFixed(2);
            document.getElementById('cameraPosY').value = state.position.y.toFixed(2);
            document.getElementById('cameraPosZ').value = state.position.z.toFixed(2);

            document.getElementById('cameraLookAtX').value = state.lookAt.x.toFixed(2);
            document.getElementById('cameraLookAtY').value = state.lookAt.y.toFixed(2);
            document.getElementById('cameraLookAtZ').value = state.lookAt.z.toFixed(2);

            app.threeJSRenderer.updateCameraFromControls();
        }

        function setupCameraInputHandlers() {
            document.getElementById('cameraPosX').addEventListener('change', updateCameraFromUI);
            document.getElementById('cameraPosY').addEventListener('change', updateCameraFromUI);
            document.getElementById('cameraPosZ').addEventListener('change', updateCameraFromUI);
            document.getElementById('cameraLookAtX').addEventListener('change', updateCameraFromUI);
            document.getElementById('cameraLookAtY').addEventListener('change', updateCameraFromUI);
            document.getElementById('cameraLookAtZ').addEventListener('change', updateCameraFromUI);
        }

        function updateCameraFromUI() {
            if (!app || !app.threeJSRenderer || !cameraControlsActive) return;

            var position = {
                x: parseFloat(document.getElementById('cameraPosX').value),
                y: parseFloat(document.getElementById('cameraPosY').value),
                z: parseFloat(document.getElementById('cameraPosZ').value)
            };
            var lookAt = {
                x: parseFloat(document.getElementById('cameraLookAtX').value),
                y: parseFloat(document.getElementById('cameraLookAtY').value),
                z: parseFloat(document.getElementById('cameraLookAtZ').value)
            };

            app.threeJSRenderer.setCameraFromUI(position, lookAt);
        }

        window.addEventListener('resize', function() {
            if (app && app.threeJSRenderer) {
                app.threeJSRenderer.resize();
            }
        });

        function setupCameraInputDefaults(appInstance) {
            if (!appInstance || !appInstance.threeJSRenderer) return;

            var defaults = appInstance.threeJSRenderer.getDefaultCameraStateForUI();
            if (!defaults) return;

            document.getElementById('cameraPosX').value = defaults.position.x;
            document.getElementById('cameraPosY').value = defaults.position.y;
            document.getElementById('cameraPosZ').value = defaults.position.z;

            document.getElementById('cameraLookAtX').value = defaults.lookAt.x;
            document.getElementById('cameraLookAtY').value = defaults.lookAt.y;
            document.getElementById('cameraLookAtZ').value = defaults.lookAt.z;
        }

        // Expose functions to window for onclick handlers in ES module scope
        window.togglePlay = togglePlay;
        window.toggleCameraControls = toggleCameraControls;
        window.resetCamera = resetCamera;

        window.onload = function(){
            app = createApp({
                data: () => ({
                    selectedKeyNoteMap: defaultKeyNoteMap,
                    availableKeyNoteMaps: keyNoteMapCollection,
                    renderedNotesPlaying: defaultNotesPlaying,
                    songNotes: defaultSongNotes,
                    songNotesOnKeyMap: defaultSongNotesOnKeyMap,
                    selectedTrack: "",
                    availableTracks: [],
                    vueCanvas: null,
                    notesCanvas: null,
                    threeJSRenderer: null,
                    keyRenderInfo: keyRenderInfo,
                    score: 0,
                    goodCount: 0,
                    okCount: 0,
                    badCount: 0,
                    missedCount: 0,
                    minDuration: difficultySettingsObj["Normal"].minNoteDuration,
                    minNoteDistance: difficultySettingsObj["Normal"].minNoteDistance,
                    playerVolume: .7,
                    trackVolume: 1,
                    midiJson: "",
                    midiSongs: midiSongs,
                    selectedMidiSong: null,
                    songEnd: null,
                    difficultySettings: difficultySettingsObj,
                    selectedDifficulty: difficultySettingsObj["Normal"],
                    toggleTrackHighScores: false,
                    highScore: 0,
                    challengeScore: 0
                }),
                mounted() {
                    this.notesCanvas = document.getElementById("notesCanvas")
                    var ctx = notesCanvas.getContext('2d');
                    this.vueCanvas = ctx;
                    this.vueCanvas.clearRect(0, 0, this.notesCanvas.width, this.notesCanvas.height);
                    this.vueCanvas.font = "18px Georgia";
                    this.vueCanvas.fillStyle = "black";
                    this.vueCanvas.fillText("Watch for falling note keys!", 0, 50);
                    this.toggleTrackHighScores = localStorage.getItem("TrackScores") == "true";
                    if(!this.toggleTrackHighScores){
window.domUtils.toggleElementById("SongHighScore");
                     }

                    const debugLogger = window.location.search === '?debug' 
                        ? { enabled: true, log: console.log.bind(console) }
                        : null;

                    const scoreKeeper = getScoreKeeper(getScoringSettings().default, debugLogger);

                    inputHandler = getInputHandler(debugLogger);
                    inputHandler.setupKeyListeners(this, pressedKeys, synthMap, synthArray, playNotes);

                    // Initialize Three.js renderer
                    var threeJSRenderer = getThreeJSRenderer(THREE, FontLoader, TextGeometry);
                    threeJSRenderer.init("threeCanvas");
                    this.threeJSRenderer = threeJSRenderer;
                    threeJSRenderer.startAnimation();

                    setupCameraPresetDropdown(this);
                    setupCameraInputDefaults(this);

                    componentRegistry.registerService('scoreKeeper', scoreKeeper);
                    componentRegistry.registerService('songNoteRenderer', songNoteRenderer);
                    componentRegistry.registerService('keyNoteMapService', keyNoteMapService);
                    componentRegistry.registerService('highScoreTracker', highScoreTracker);
                    componentRegistry.registerService('challengeScores', challengeScoresObj);
                    componentRegistry.registerService('threeJSRenderer', threeJSRenderer);

                    this.componentRegistry = componentRegistry;
                },
                beforeUnmount() {
                    if (this.threeJSRenderer) {
                        this.threeJSRenderer.dispose();
                    }
                    inputHandler.removeKeyListeners();
                },
                methods: {
                    handleMidiSongSelection,
                    setDifficulty,
                    handleToggleTrackHighScores
                }
            }).mount('#app');

        };

        function renderSongNotes(){
            if(songEnd) {
                app.songEnd = (songEnd / 60).toFixed(2) + " minutes";
            }
            if(currentMidi && app.selectedTrack !== "" && debugPage){
                var invertedKeyNoteMap = keyNoteMapService.getInvertedMap(app.selectedKeyNoteMap.keyNoteMap);
                var song = app.selectedTrack.notes;
                writeLog(JSON.stringify(song));
                var renderedNotes = songNoteRenderer.renderSongNotes(song, app.selectedKeyNoteMap.keyNoteMap);

                app.songNotes = renderedNotes.renderedSongNotes;
                app.songNotesOnKeyMap = renderedNotes.renderedSongNotesOnKeyMap;
                app.renderedNotesPlaying = songNoteRenderer.renderDebugNotesPlaying(app.notesCanvas, song, {keyScores: {}}, invertedKeyNoteMap, 0, 0);

                if (app.threeJSRenderer && app.keyRenderInfo) {
                    var visibleField = song.map(function(note) {
                        var keyNote = invertedKeyNoteMap[note.name];
                        if (keyNote) {
                            return {
                                id: note.name + "_" + note.time,
                                letter: keyNote,
                                time: note.time,
                                duration: note.duration,
                                state: 'unplayed'
                            };
                        }
                        return null;
                    }).filter(function(n) { return n !== null; });

                    app.threeJSRenderer.addNotesFromVisibleField(visibleField, app.keyRenderInfo);
                }

                window.focus();
                if (document.activeElement) {
                    document.activeElement.blur();
                }
            }
        }

        function handleMidiSongSelection(){
            if(app.selectedMidiSong){
                if(app.selectedMidiSong.difficultySettings){
                    songDifficultySettings = app.selectedMidiSong.difficultySettings;                    
                } else {
                    songDifficultySettings = null;
                }
                if(app.toggleTrackHighScores){
                    app.highScore = highScoreTracker.getHighScore(app.selectedMidiSong.filename, app.selectedDifficulty.difficultyKey);
                    app.challengeScore = challengeScoresObj.getSelectedScore(app.selectedMidiSong.filename, app.selectedDifficulty.difficultyKey);
                }
                app.availableTracks = [];
                app.score = 0;
                app.goodCount = 0;
                app.okCount = 0;
                app.badCount = 0;
                app.missedCount = 0;

                const midiFilename = app.selectedMidiSong.filename;
                fetch(`PublicDomainSongs/midi/${midiFilename}`)
                    .then(response => response.arrayBuffer())
                    .then(arrayBuffer => {
                        return midiParser.parseMidiArrayBuffer(arrayBuffer, setupSongFromMidiResult);
                    });
            }            
        }

        function setDifficulty(){
            app.minNoteDistance = app.selectedDifficulty.minNoteDistance;
            app.minDuration = app.selectedDifficulty.minNoteDuration;
            if(app.toggleTrackHighScores && app.selectedMidiSong){
                app.score = 0;
                app.goodCount = 0;
                app.okCount = 0;
                app.badCount = 0;
                app.missedCount = 0;
                app.highScore = highScoreTracker.getHighScore(app.selectedMidiSong.filename, app.selectedDifficulty.difficultyKey);
                app.challengeScore = challengeScoresObj.getSelectedScore(app.selectedMidiSong.filename, app.selectedDifficulty.difficultyKey);
            }
        }

        function handleToggleTrackHighScores(){
            window.domUtils.toggleElementById("SongHighScore");
            if(app.toggleTrackHighScores){
                localStorage.setItem("TrackScores", "true");
            } else {
                localStorage.removeItem("TrackScores");
            }
        }

    </script>
</body>

</html>
