<!DOCTYPE html>
<!--
    MidiestroES - ES Module version of Midiestro.html
    Uses modern ES module imports from MyESModules directory
-->
<html>

<head>    
    <title>Midiestro ES Modules</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link href="../Style.css" rel="stylesheet">
    <link href="./Style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="./favicon.ico" />
</head>

<body>
    <button id="themeToggle" onclick="toggleTheme()" title="Toggle theme">
        <span id="theme-icon" class="material-icons">bedtime</span>
    </button>

    <div id="toneContent">
        <!-- BEGIN_SHARED_SECTION: instructions -->
        <div id="instructionsWrapper" class="collapsible-card">
            <div id="instructionsHeader" class="card-header" onclick="toggleInstructionsSection()">
                <span id="instructionsChevron" class="chevron material-icons">keyboard_arrow_down</span>
                <h3>Instructions & File Drop</h3>
            </div>
            <div id="Instructions" class="card-content hidden">
            <h2>Instructions</h2>
            <p>
                This page is a musical typing game, where you can take a midi file and try to match the notes played on your keyboard for points!
            </p>
            <p>
                To play:
                <ul>
                    <li>Drop a midi file on the panel below.</li>
                    <li>Press the Play button.</li>
                    <li>Watch the falling keys, and try to press the key when it gets to the bottom of the game window.</li>
                </ul>
            </p>
            <p>
                As a simple song to start with, here is a place to download <a href="https://onlinesequencer.net/4101480#">Mary Had a Little Lamb</a> .  On the website, choose "Download MIDI"
            </p>
            <p>
                You can find more midi files to download and try out at the links below.
                <ul>
                    <li><a href="https://bbloomf.github.io/lilypond-songs">https://bbloomf.github.io/lilypond-songs</a></li>
                    <li><a href="https://onlinesequencer.net/sequences">https://onlinesequencer.net/sequences</a></li>
                    <li><a href="http://www.soundswell.co.uk/pages/swmids.htm">http://www.soundswell.co.uk/pages/swmids.htm</a></li>
                    <li><a href="http://midi.music.arizona.edu/purpose.php">http://midi.music.arizona.edu/search.php</a></li>
                </ul>
            </p>
            <div id="FileDrop">
                <div id="Text">
                    Drop a midi file here, or click to select a file from the wizard.  Or use the select box below to choose a Preloaded Song instead.
                </div>
                <input type="file" accept="audio/midi" />
            </div>
        </div>
        <!-- END_SHARED_SECTION: instructions -->
    </div>

    <div id="app">
        <div id="midiSongConfig">
            <label for="midiSongSelect">Select a Preloaded Song</label>
            <select id="midiSongSelect" v-model="selectedMidiSong" class="pure-input-rounded" v-on:change="handleMidiSongSelection()">
                <option v-for="(item, key, index) in midiSongs" :value="item">{{key}}</option>
            </select>
        </div>

        <!-- BEGIN_SHARED_SECTION: game-config -->
        <div id="gameConfigWrapper" class="collapsible-card">
            <div id="gameConfigHeader" class="card-header" onclick="toggleGameConfigSection()">
                <span id="gameConfigChevron" class="chevron material-icons">keyboard_arrow_down</span>
                <h3>Game Configurations</h3>
            </div>
            <div id="gameConfig" class="card-content hidden">
            <div class="bordered">
                Please note: most of these options require the song to be restarted in order to take affect.
            </div>

            <div id="trackOptionConfig" class="side-by-side">
                <div class="bordered">
                    <label for="trackSelect">Select Track to play</label>
<select id="trackSelect" v-model="selectedTrack" class="pure-input-rounded" v-on:change="renderSongNotes()">
                         <option v-for="(item, key, index) in availableTracks" :value="item">{{item.name}} ({{ item.notes.length }} notes{{ item.notes && item.notes.length > 0 ? ', starts at ' + item.notes[0].time : '' }})</option>
                     </select>
                </div>
                <div class="bordered">
                    If you want to play the parts of a particular track, you can select an individual one to display here.  Otherwise notes from all tracks will be used to display.
                </div>
            </div>

            <div id="keyNoteMapConfig" class="side-by-side">
                <div class="bordered">
                    <label for="keyNoteMapSelect">Select a Keyboard Layout</label>
                    <select id="keyNoteMapSelect" v-model="selectedKeyNoteMap" class="pure-input-rounded" v-on:change="renderSongNotes()">
                        <option v-for="(item, key, index) in availableKeyNoteMaps" :value="item">{{key}}</option>
                    </select>
                </div>
                <div class="bordered">
                    {{selectedKeyNoteMap.description}}
                </div>
            </div>

            <div id="difficultyConfig" class="side-by-side">
                <div class="bordered">
                    <div id="difficulty">
                        <label for="difficultySelect">Select a Difficulty</label>
                        <select id="difficultySelect" v-model="selectedDifficulty" class="pure-input-rounded" v-on:change="setDifficulty()">
                            <option v-for="(item, key, index) in difficultySettings" :value="item">{{key}}</option>
                        </select>
                    </div>
                </div>
                <div class="bordered">
                    This sets how close together notes will be during play.  More notes will appear on harder difficulties, and they will be a bit harder to read due to how they letters stack up.  Not all songs are affected by difficulty changes similarly.
                </div>
            </div>

            <div id="trackVolumeConfig" class="side-by-side">
                <div class="bordered">
                    <div id="trackVolume">
                        <label for="trackVolume">Track Volume {{trackVolume}}</label>
                        <input type="range" class="fullRange" id="trackVolume" v-model="trackVolume" min="0" max="1" step=".01"></input>
                    </div>
                </div>
                <div class="bordered">
                    This sets the volume of each track.  The smaller the value, the quieter the background music will be.
                </div>
            </div>

            <div id="playerVolumeConfig" class="side-by-side">
                <div class="bordered">
                    <div id="playerVolume">
                        <label for="playerVolume">Player Volume {{playerVolume}}</label>
                        <input type="range" class="fullRange" id="playerVolume" v-model="playerVolume" min="0" max="1" step=".01"></input>
                    </div>
                </div>
                <div class="bordered">
                    This sets the volume of the player's audio.  The smaller the value, the quieter the notes played on the keyboard will be.
                </div>
            </div>
        </div>
    </div>
        <!-- END_SHARED_SECTION: game-config -->

    <!-- BEGIN_SHARED_SECTION: play-progress -->
    <div id="playProgress">
        <div id="SongTime">
            <span>Song EndTime: [{{ songEnd }}]</span>
            <label>
                <input type="checkbox" v-model="toggleTrackHighScores" v-on:change="handleToggleTrackHighScores()">
                Track High Scores (uses <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage">localStorage)</a>
            </label>
        </div>
        <button id="tonePlayToggle" onclick="togglePlay()" disabled>Play</button>
        
        <span class="score-display">Score: [{{ score }}]  Good [{{ goodCount }}] Ok [{{ okCount }}] Bad [{{badCount}}] Missed [{{missedCount}}]</span>
        
        <div id="SongHighScore">
            <span class="high-score-text">High Score: [{{ highScore }}] Challenge Score: [{{ challengeScore }}]</span>
            <div class="high-score-buttons">
                <button id="clearHighScores" onclick="window.highScoreTracker.exportHighScoresToClipBoardAsJsonString(); localStorage.clear(); app.toggleTrackHighScores = false; window.domUtils.toggleElementById('SongHighScore');">Clear High Scores</button>
                <button id="exportHighScores" onclick="window.highScoreTracker.exportHighScoresToClipBoardAsJsonString()">Copy High Scores to Clipboard</button>
            </div>
        </div>
    </div>
    <!-- END_SHARED_SECTION: play-progress -->

    <div id="canvasContainer" class="bordered">
        <canvas id="notesCanvas"></canvas>
    </div>

    <div id="notesPlaying">
        <div class="bordered">{{renderedNotesPlaying}}</div>
    </div>

    <div class="side-by-side" id="songNoteKeys">
        <div class="bordered">Mapped Keys<br />{{ songNotesOnKeyMap }}</div>
        <div class="bordered">Song Notes<br />{{ songNotes }}</div>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/tone@14.9.17/build/Tone.js"></script>
    <script src="https://unpkg.com/@tonejs/midi"></script>
    <script src="../src/js/themeSwitcher.js"></script>
    <script src="../src/js/collapsibleSections.js"></script>
    <script>
        window.toggleInstructionsSection = createSectionToggle('Instructions', 'instructionsWrapper');
        window.toggleGameConfigSection = createSectionToggle('gameConfig', 'gameConfigWrapper');
    </script>

<script type="module">
        import { createApp, markRaw } from 'https://unpkg.com/vue@3.5.30/dist/vue.esm-browser.js';

        const Tone = window.Tone;

        import { initializeMidiestroBase, getDebugFlag, setupFileDropHandlers, initializeUIVisibility, createGlobalExports, createGameStateTracker } from './MyESModules/MidiestroBase.js';
import getDomUtils from './MyESModules/DomUtils.js';
        import { getMidiParser, enablePlayButton } from './MyESModules/MidiParser.js';
        import { getGameSessionManager } from './MyESModules/GameSessionManager.js';
        import getChallengeScores from './MyESModules/challengeScores.js';
        import { createSongDisplayManager } from './MyESModules/SongDisplayManager.js';
        import getScoringSettings from './MyESModules/scoringSettings.js';
        import getScoreKeeper from './MyESModules/ScoreKeeper.js';
        import { createGameServices } from './MyESModules/createGameServices.js';
        import getGameController from './MyESModules/GameController.js';
        import getInputHandler from './MyESModules/InputHandler.js';
        import { createPlayButtonService } from './MyESModules/PlayButtonService.js';
        import { getVisibleFieldFilterer } from './MyESModules/VisibleFieldFilterer.js';
        import { createMidiestroApp } from './MyESModules/createMidiestroApp.js';
        import { createGameData } from './MyESModules/createGameData.js';
        import { createGameMethods } from './MyESModules/createGameMethods.js';
        import { createGameLifecycle } from './MyESModules/createGameLifecycle.js';
        import { createTwoDMode } from './MyESModules/GameModeStrategy.js';

        const debugPage = getDebugFlag();

        window.domUtils = getDomUtils();
        initializeUIVisibility(debugPage);

        const base = initializeMidiestroBase(Tone);

        const {
            localStorageService,
            midiSongs,
            difficultySettings,
            highScoreTracker,
            keyNoteMapService,
            songNoteRenderer,
            componentRegistry,
            synthKeyPlayer,
            keyRenderInfo,
            difficultySettingsCalculator,
            toneHelper,
            keyNoteMapCollection,
            keyNoteMapKeys,
            defaultKeyNoteMap,
            synthArray,
            defaultNotesPlaying,
            defaultSongNotes,
            defaultSongNotesOnKeyMap
        } = base;

const gameState = createGameStateTracker();

        window.highScoreTracker = highScoreTracker;
        
        const challengeScoresObj = getChallengeScores();
        const visibleFieldFilterer = getVisibleFieldFilterer();

        const synthMap = {};
        let songEnd = null;
        let currentMidi = null;
        const songDifficultySettings = base.songDifficultySettings.get();

        const pressedKeys = componentRegistry.getPressedKeys();
        const midiParser = getMidiParser(markRaw);

        const songDisplayManager = createSongDisplayManager(songNoteRenderer, keyNoteMapService);
        songDisplayManager.setDebugMode(debugPage);

        const gameController = getGameController();
        const gameSessionManager = getGameSessionManager();

        async function parseFile(file) {
            await midiParser.parseMidiFile(file, setupSongFromMidiResult);
        }

        setupFileDropHandlers("FileDrop", parseFile, debugPage);

        window.onload = function(){
            let playButtonService = null;
            let app = null;

            function playNotes(){
                synthKeyPlayer.playNotes(app, pressedKeys, synthMap, synthArray);
            }

            function togglePlay() {
                const wasPlaying = gameState.isPlaying;
                gameState.toggle();
                const playing = gameState.isPlaying;

                
                if (playButtonService) {
                    playButtonService.updateText(playing);
                }

                if (playing && currentMidi) {
                    return gameSessionManager.prepareAndStartGame(
                        app,
                        songDifficultySettings,
                        visibleFieldFilterer,
                        keyRenderInfo,
                        gameController,
                        currentMidi,
                        songEnd,
                        songNoteRenderer,
                        keyNoteMapService.getInvertedMap.bind(keyNoteMapService),
                        difficultySettingsCalculator,
                        pressedKeys
                    );
                } else {
                    return gameSessionManager.stopGame(gameController, app);
                }
            }
            
            window.togglePlay = togglePlay;
            const createAppRef = createApp; // Reference at top of function
            
            // Define renderSongNotes using SongDisplayManager
            function renderSongNotes(){
                if(songEnd) {
                    app.songEnd = (songEnd / 60).toFixed(2) + " minutes";
                }
                
                const displayData = songDisplayManager.renderSongNotesForDisplay(currentMidi, app);
                
                if (displayData) {
                    app.songNotes = displayData.songNotes;
                    app.songNotesOnKeyMap = displayData.songNotesOnKeyMap;
                    
if (debugPage && currentMidi && app.selectedTrack !== "") {
                         const invertedKeyNoteMap = keyNoteMapService.getInvertedMap(app.selectedKeyNoteMap.keyNoteMap);
                         const song = app.selectedTrack.notes;
                         app.renderedNotesPlaying = songDisplayManager.renderDebugNotesPlaying(app.notesCanvas, song, {keyScores: {}}, invertedKeyNoteMap, 0, 0);
                     }

                    window.focus();
                    if (document.activeElement) {
                        document.activeElement.blur();
                    }
                }
            }
            
            // Define setupSongFromMidiResult using MidiParser methods (error-first callback)
            function setupSongFromMidiResult(error, midiResult) {
                if (error) {
                    console.error('Failed to parse MIDI file:', error);
                    alert('Error parsing MIDI file: ' + error.message);
                    return;
                }
                
                const result = midiParser.setupSongFromMidiResult(midiResult, app);
                
                songEnd = result.songEnd;
                currentMidi = { tracks: result.tracks };

                if (playButtonService) {
                    playButtonService.enable();
                    playButtonService.setInitialText();
                }

                renderSongNotes();
            }

            const gameMode = createTwoDMode();

            const dataConfig = createGameData({ 
                mode: gameMode.modeId,
                midiSongs,
                defaultKeyNoteMap,
                keyNoteMapCollection,
                difficultySettings,
                highScoreTracker,
                challengeScoresObj,
                defaultNotesPlaying,
                defaultSongNotes,
                defaultSongNotesOnKeyMap,
                keyRenderInfo
            });

            const methodsConfig = createGameMethods({ 
                renderSongNotes,
                setupSongFromMidiResult,
                highScoreTracker,
                challengeScoresObj,
                gameController,
                midiParser
            });

            const lifecycleConfig = createGameLifecycle(gameMode.modeId, {
                getScoreKeeper,
                getScoringSettings,
                getInputHandler,
                pressedKeys,
                synthMap,
                synthArray,
                playNotes,
                componentRegistry,
                songNoteRenderer,
                keyNoteMapService,
                highScoreTracker,
                challengeScoresObj
            });

            const servicesConfig = createGameServices({ 
                midiParser,
                songNoteRenderer,
                keyNoteMapService,
                componentRegistry,
                getScoreKeeper,
                getScoringSettings 
            });

            app = createMidiestroApp({ 
                mode: gameMode,
                createApp: createAppRef,
                dataConfig,
                methodsConfig,
                lifecycleConfig,
                servicesConfig 
            }).mount('#app');

            // Create playButtonService AFTER Vue mounts to ensure correct button reference
            playButtonService = createPlayButtonService('tonePlayToggle');
            
            app.componentRegistry = componentRegistry;
        };
    </script>
</body>

</html>
