<!DOCTYPE html>
<!--
    MidiestroES - ES Module version of Midiestro.html
    Uses modern ES module imports from MyESModules directory
-->
<html>

<head>    
    <title>Midiestro ES Modules</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link href="../Styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="./favicon.ico" />
</head>

<body>
    <div id="toneContent">
        <div id="Instructions" class="bordered">
            <h2>Instructions</h2>
            <p>
                This page is a musical typing game, where you can take a midi file and try to match the notes played on your keyboard for points!
            </p>
            <p>
                To play:
                <ul>
                    <li>Drop a midi file on the panel below.</li>
                    <li>Press the Play button.</li>
                    <li>Watch the falling keys, and try to press the key when it gets to the bottom of the game window.</li>
                </ul>
            </p>
            <p>
                As a simple song to start with, here is a place to download <a href="https://onlinesequencer.net/4101480#">Mary Had a Little Lamb</a> .  On the website, choose "Download MIDI"
            </p>
            <p>
                You can find more midi files to download and try out at the links below.
                <ul>
                    <li><a href="https://bbloomf.github.io/lilypond-songs">https://bbloomf.github.io/lilypond-songs</a></li>
                    <li><a href="https://onlinesequencer.net/sequences">https://onlinesequencer.net/sequences</a></li>
                    <li><a href="http://www.soundswell.co.uk/pages/swmids.htm">http://www.soundswell.co.uk/pages/swmids.htm</a></li>
                    <li><a href="http://midi.music.arizona.edu/purpose.php">http://midi.music.arizona.edu/search.php</a></li>
                </ul>
            </p>
            <div id="FileDrop">
                <div id="Text">
                    Drop a midi file here, or click to select a file from the wizard.  Or use the select box below to choose a Preloaded Song instead.
                </div>
                <input type="file" accept="audio/midi" />
            </div>
        </div>
        <button id="toggleInstructions" onclick="window.domUtils.toggleElementById('Instructions')">Toggle Instructions And Advanced Song Selection</button>
    </div>

    <div id="app">
        <div id="midiSongConfig" class="bordered">
            <div class="bordered">
                <label for="midiSongSelect">Select a Preloaded Song</label>
                <select id="midiSongSelect" v-model="selectedMidiSong" class="pure-input-rounded" v-on:change="handleMidiSongSelection()">
                    <option v-for="(item, key, index) in midiSongs" :value="item">{{key}}</option>
                </select>
            </div>
        </div>

        <div id="gameConfig" class="bordered">
            <div class="bordered">
                Please note: most of these options require the song to be restarted in order to take affect.
            </div>

            <div id="trackOptionConfig" class="side-by-side">
                <div class="bordered">
                    <label for="trackSelect">Select Track to play</label>
<select id="trackSelect" v-model="selectedTrack" class="pure-input-rounded" v-on:change="renderSongNotes()">
                         <option v-for="(item, key, index) in availableTracks" :value="item">{{item.name}} ({{ item.notes.length }} notes{{ item.notes && item.notes.length > 0 ? ', starts at ' + item.notes[0].time : '' }})</option>
                     </select>
                </div>
                <div class="bordered">
                    If you want to play the parts of a particular track, you can select an individual one to display here.  Otherwise notes from all tracks will be used to display.
                </div>
            </div>

            <div id="keyNoteMapConfig" class="side-by-side">
                <div class="bordered">
                    <label for="keyNoteMapSelect">Select a Keyboard Layout</label>
                    <select id="keyNoteMapSelect" v-model="selectedKeyNoteMap" class="pure-input-rounded" v-on:change="renderSongNotes()">
                        <option v-for="(item, key, index) in availableKeyNoteMaps" :value="item">{{key}}</option>
                    </select>
                </div>
                <div class="bordered">
                    {{selectedKeyNoteMap.description}}
                </div>
            </div>

            <div id="difficultyConfig" class="side-by-side">
                <div class="bordered">
                    <div id="difficulty">
                        <label for="difficultySelect">Select a Difficulty</label>
                        <select id="difficultySelect" v-model="selectedDifficulty" class="pure-input-rounded" v-on:change="setDifficulty()">
                            <option v-for="(item, key, index) in difficultySettings" :value="item">{{key}}</option>
                        </select>
                    </div>
                </div>
                <div class="bordered">
                    This sets how close together notes will be during play.  More notes will appear on harder difficulties, and they will be a bit harder to read due to how they letters stack up.  Not all songs are affected by difficulty changes similarly.
                </div>
            </div>

            <div id="trackVolumeConfig" class="side-by-side">
                <div class="bordered">
                    <div id="trackVolume">
                        <label for="trackVolume">Track Volume {{trackVolume}}</label>
                        <input type="range" class="fullRange" id="trackVolume" v-model="trackVolume" min="0" max="1" step=".01"></input>
                    </div>
                </div>
                <div class="bordered">
                    This sets the volume of each track.  The smaller the value, the quieter the background music will be.
                </div>
            </div>

            <div id="playerVolumeConfig" class="side-by-side">
                <div class="bordered">
                    <div id="playerVolume">
                        <label for="playerVolume">Player Volume {{playerVolume}}</label>
                        <input type="range" class="fullRange" id="playerVolume" v-model="playerVolume" min="0" max="1" step=".01"></input>
                    </div>
                </div>
                <div class="bordered">
                    This sets the volume of the player's audio.  The smaller the value, the quieter the notes played on the keyboard will be.
                </div>
            </div>
        </div>
        <button id="toggleGameConfig" onclick="window.domUtils.toggleElementById('gameConfig')">Toggle Game Configurations</button>

        <div id="playProgress">
            <div id="SongTime">
                Song EndTime: [{{ songEnd }}]
                <input type="checkbox" v-model="toggleTrackHighScores" v-on:change="handleToggleTrackHighScores()"> Track High Scores (uses <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage">localStorage)</a></input>
            </div>
            <button id="tonePlayToggle" onclick="togglePlay()" disabled>Play</button>
            <span>Score: [{{ score }}]  Good [{{ goodCount }}] Ok [{{ okCount }}] Bad [{{badCount}}] Missed [{{missedCount}}]</span>
            <div id="SongHighScore">
                High Score: [{{ highScore }}] Challenge Score: [{{ challengeScore }}]
                <button id="clearHighScores" onclick="window.highScoreTracker.exportHighScoresToClipBoardAsJsonString(); localStorage.clear(); app.toggleTrackHighScores = false; window.domUtils.toggleElementById('SongHighScore');">Clear High Scores</button>
                <button id="exportHighScores" onclick="window.highScoreTracker.exportHighScoresToClipBoardAsJsonString()">Copy High Scores to Clipboard</button>
            </div>
        </div>

        <div id="canvasContainer" class="bordered">
            <canvas id="notesCanvas"></canvas>
        </div>

        <div id="notesPlaying">
            <div class="bordered">{{renderedNotesPlaying}}</div>
        </div>

        <div class="side-by-side" id="songNoteKeys">
            <div class="bordered">Mapped Keys<br />{{ songNotesOnKeyMap }}</div>
            <div class="bordered">Song Notes<br />{{ songNotes }}</div>
        </div>
    </div>

    <script
			type="text/javascript"
			src="https://unpkg.com/tone@latest/build/Tone.js"
		></script>
    <script src="./MyESModules/Libraries/midi.js"></script>
<script type="module">
        import { createApp, markRaw } from 'https://unpkg.com/vue@3.5.30/dist/vue.esm-browser.js';

        const Tone = window.Tone;

        import { getToneHelper } from './MyESModules/ToneHelper.js';
        import { getSynthKeyPlayer } from './MyESModules/SynthKeyPlayer.js';
        import getKeyNoteMaps from './MyESModules/keyNoteMaps.js';
        import { getKeyNoteMapService } from './MyESModules/KeyNoteMapService.js';
        import { getSongNoteRenderer } from './MyESModules/SongNoteRenderer.js';
        import getKeyRenderInfo from './MyESModules/keyRenderInfo.js';
        import { getVisibleFieldFilterer } from './MyESModules/VisibleFieldFilterer.js';
        import getScoreKeeper from './MyESModules/ScoreKeeper.js';
        import getScoringSettings from './MyESModules/scoringSettings.js';
        import getGameController from './MyESModules/GameController.js';
        import getGameState from './MyESModules/GameState.js';
        import getMidiSongList from './MyESModules/midiSongList.js';
        import getDifficultySettings from './MyESModules/difficultySettings.js';
        import getHighScoreTracker from './MyESModules/highScoreTracker.js';
        import getChallengeScores from './MyESModules/challengeScores.js';
        import { getDifficultySettingsCalculator } from './MyESModules/difficultySettingsCalculator.js';
        import getDomUtils from './MyESModules/DomUtils.js';
        import getFileDropHandler from './MyESModules/FileDropHandler.js';
        import getInputHandler from './MyESModules/InputHandler.js';
        import getComponentRegistry from './MyESModules/ComponentRegistry.js';
        import { getMidiParser } from './MyESModules/MidiParser.js';
        import { getGameSessionManager } from './MyESModules/GameSessionManager.js';
        import { createPlayButtonService } from './MyESModules/PlayButtonService.js';
        import { createMidiestroApp } from './MyESModules/createMidiestroApp.js';

        const queryString = window.location.search;
        const debugPage = queryString == "?debug";

        // Make domUtils globally accessible for onclick handlers
        window.domUtils = getDomUtils();
        window.domUtils.toggleElementById('Instructions');
        window.domUtils.toggleElementById('gameConfig');

        if(!debugPage){
            window.domUtils.toggleElementById('songNoteKeys');
            window.domUtils.toggleElementById('notesPlaying');
            window.domUtils.toggleElementById('exportHighScores');
        }

        var midiSongs = getMidiSongList();
        const sortedMidiSongs = Object.fromEntries(Object.keys(midiSongs).sort().map(key => [key, midiSongs[key]]));
        midiSongs = sortedMidiSongs;

        const localStorageService = {
            getItem: localStorage.getItem.bind(localStorage),
            setItem: localStorage.setItem.bind(localStorage),
            key: localStorage.key.bind(localStorage),
            get length() { return localStorage.length; }
        };

        const highScoreTracker = getHighScoreTracker(localStorageService);
        window.highScoreTracker = highScoreTracker;
        const challengeScoresObj = getChallengeScores();

        var synthKeyPlayer = getSynthKeyPlayer();
        var keyNoteMapService = getKeyNoteMapService();
        var songNoteRenderer = getSongNoteRenderer(keyNoteMapService);
        const keyRenderInfo = getKeyRenderInfo();
        const difficultySettingsObj = getDifficultySettings();
        const difficultySettingsCalculator = getDifficultySettingsCalculator();
        var songDifficultySettings = null;
        var noteLetterCache = songNoteRenderer.buildSongNoteLetterCache(keyRenderInfo);
        var toneHelper = getToneHelper(Tone);
        var visibleFieldFilterer = getVisibleFieldFilterer();
        var synthMap = {};
        var songEnd = null;
        const synthArray = [];

        var componentRegistry = getComponentRegistry();
        const pressedKeys = componentRegistry.getPressedKeys();

        const keyNoteMapCollection = getKeyNoteMaps();
        const keyNoteMapKeys = Object.keys(keyNoteMapCollection);
        const defaultKeyNoteMap = keyNoteMapCollection[keyNoteMapKeys[0]];

        var defaultNotesPlaying = "";
        var defaultSongNotes = "";
        var defaultSongNotesOnKeyMap = "";
        var defaultFMSynthParams = toneHelper.getDefaultFMSynthParams();

        toneHelper.buildSynths(defaultFMSynthParams, synthArray, 10);

        var app;

        function playNotes(){
            synthKeyPlayer.playNotes(app, pressedKeys, synthMap, synthArray);
        }

        function writeLog(logEntry){
            if(debugPage == true){
                console.log(logEntry);
            }
        }

        var fileDropHandler = getFileDropHandler();

        if (fileDropHandler.isFileAPISupported()) {
            fileDropHandler.setupFileDrop("FileDrop", function(file) {
                document.querySelector("#FileDrop #Text").textContent = file.name;
                parseFile(file);
            });
        } else {
            document.querySelector("#FileDrop #Text").textContent = "Reading files not supported by this browser";
        }

        var inputHandler;
        
        let currentMidi = null;
        var midiParser = getMidiParser(markRaw);

        async function parseFile(file) {
            await midiParser.parseMidiFile(file, setupSongFromMidiResult);
        }

        var gameController = getGameController();
        var gameSessionManager = getGameSessionManager();

        window.onload = function(){
            var playing = false;
            let playButtonService = null;

            function togglePlay() {
                const wasPlaying = playing;
                playing = !playing;
                
                if (playButtonService) {
                    playButtonService.updateText(playing);
                }

                if (playing && currentMidi) {
                    return gameSessionManager.prepareAndStartGame(
                        app,
                        songDifficultySettings,
                        visibleFieldFilterer,
                        keyRenderInfo,
                        gameController,
                        currentMidi,
                        songEnd,
                        songNoteRenderer,
                        keyNoteMapService.getInvertedMap.bind(keyNoteMapService),
                        difficultySettingsCalculator,
                        pressedKeys
                    );
                } else {
                    return gameSessionManager.stopGame(gameController, app);
                }
            }
            
            window.togglePlay = togglePlay;
            const createAppRef = createApp; // Reference at top of function
            
            // Define renderSongNotes before it's referenced in config
            function renderSongNotes(){
                if(songEnd) {
                    app.songEnd = (songEnd / 60).toFixed(2) + " minutes";
                }
                if(currentMidi && app.selectedTrack !== "" && debugPage){
                    var invertedKeyNoteMap = keyNoteMapService.getInvertedMap(app.selectedKeyNoteMap.keyNoteMap);
                    var song = app.selectedTrack.notes;
                    writeLog(JSON.stringify(song));
                    var renderedNotes = songNoteRenderer.renderSongNotes(song, app.selectedKeyNoteMap.keyNoteMap);
                    
                    app.songNotes = renderedNotes.renderedSongNotes;
                    app.songNotesOnKeyMap = renderedNotes.renderedSongNotesOnKeyMap;
                    app.renderedNotesPlaying = songNoteRenderer.renderDebugNotesPlaying(app.notesCanvas, song, {keyScores: {}}, invertedKeyNoteMap, 0, 0);

                    window.focus();
                    if (document.activeElement) {
                        document.activeElement.blur();
                    }
                }
            }
            
            // Define setupSongFromMidiResult before it's referenced in config
            function setupSongFromMidiResult(midiResult) {
                const parsed = midiParser.extractTracks(midiResult);
                console.log(parsed);
                app.availableTracks = parsed.tracks;
                app.availableTracks.unshift(parsed.fullTrack);
                app.selectedTrack = app.availableTracks[0];

                songEnd = parsed.songEnd;
                currentMidi = { tracks: parsed.tracks };

                if (playButtonService) {
                    playButtonService.enable();
                    playButtonService.setInitialText();
                } else {
                    console.error('playButtonService is null or undefined!');
                }

                renderSongNotes();
            }

            app = createMidiestroApp({
                mode: '2d',
                createApp: createAppRef,
                midiSongs: midiSongs,
                defaultKeyNoteMap: defaultKeyNoteMap,
                keyNoteMapCollection: keyNoteMapCollection,
                difficultySettingsObj: difficultySettingsObj,
                highScoreTracker: highScoreTracker,
                challengeScoresObj: challengeScoresObj,
                midiParser: midiParser,
                songNoteRenderer: songNoteRenderer,
                keyNoteMapService: keyNoteMapService,
                componentRegistry: componentRegistry,
                pressedKeys: pressedKeys,
                synthMap: synthMap,
                synthArray: synthArray,
                playNotesFn: playNotes,
                defaultNotesPlaying: defaultNotesPlaying,
                defaultSongNotes: defaultSongNotes,
                defaultSongNotesOnKeyMap: defaultSongNotesOnKeyMap,
                keyRenderInfo: keyRenderInfo,
                getScoreKeeper: getScoreKeeper,
                getScoringSettings: getScoringSettings,
                getInputHandler: getInputHandler,
                gameController: gameController,
                renderSongNotesFn: renderSongNotes,
                setupSongFromMidiResultFn: setupSongFromMidiResult,
                beforeUnmount2D: function(appInstance) {
                    if (appInstance.inputHandler) {
                        appInstance.inputHandler.removeKeyListeners();
                    }
                }
            }).mount('#app');

            // Create playButtonService AFTER Vue mounts to ensure correct button reference
            playButtonService = createPlayButtonService('tonePlayToggle');
            
            app.componentRegistry = componentRegistry;
        };
    </script>
</body>

</html>
