<!doctype html>
<html>

<head>
    <title>Tax On Incomes through Time</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.34.0.min.js" charset="utf-8"></script>
    <script src="YearlyTaxes.js"></script>
    <script src="PlotlyHelper.js"></script>
    <script src="TaxCalculator.js"></script>
    <script src="ColorDefinitions.js"></script>
    <link href="../Styles.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <p class="bordered" id="loadingBanner">
            Performance Note: Please allow around 10 seconds for the chart to load.
        </p>
        <div id="topologyGraph"></div>
        <ul id="graphConfiguration" class="no-bullets">
            <li><label for="min">Start </label><input type="number" id="min" v-model="min" step="1000" onchange="buildPlotlyTopology()" /></li>
            <li><label for="max">End </label><input type="number" id="max" v-model="max" step="1000" onchange="buildPlotlyTopology()" /></li>
            <li><label for="step">Step Count </label><input type="number" id="step" min="5" max="30" v-model="step" onchange="buildPlotlyTopology()" /></li>
        </ul>
        <div id="EffectiveTopology" class="bordered centered">
            <h4>
                Effective Tax Topology over time
            </h4>
            <p>
                This is a 3d graph that aims to show how effective tax rate changes year over year across a range of
                incomes.
            </p>
        </div>        
    </div>

    <script>
        var app;
        var defaultAmountForYearlyGraph = 50000;
        var defaultMin = 10000;
        var defaultMax = 800000;
        var defaultStep = 24;
        var defaultTaxYear = getDefaultTaxYear();
        var defaultSelectedRow = 0;
        var singleTaxPayerDefinitionKeys = getSingleTaxPayerDefinitionKeys();
        var taxCalculator = getTaxCalculator();

        var plotlyHelper = getPlotlyHelper();
        var plotlyLayout = plotlyHelper.getPlotlyLayout('Effective Tax Topology Over Income and Year');
        var z_data = [
        ];

        window.onload = function () {
            app = new Vue({
                el: '#app',
                data: {
                    min: defaultMin,
                    max: defaultMax,
                    step: defaultStep,
                    topologyGraph: null
                },
                mounted() {
                    var graphDiv = document.getElementById('topologyGraph');
                    this.topologyGraph = graphDiv;
                    Plotly.newPlot(this.topologyGraph, z_data, plotlyLayout, {responsive:true});
                }
            });  
            buildPlotlyTopology();
            //hide the loading banner
            var loadingBanner = document.getElementById('loadingBanner');
            if (loadingBanner) {
                loadingBanner.style.display = 'none';
            }
        };

        function getStepSize(min, max, stepCount){
            return Math.round((max - min) / stepCount) + 1;
        }

        function buildPlotlyTopology() {
            z_data = [];
            var taxYearProperties = singleTaxPayerDefinitionKeys;
            var taxYearDefinitions = getTaxYears();

            var plotlyRow = plotlyHelper.getInitialPlotlyRow();
            var counter = 0;
            taxYearProperties.forEach(function (taxYear) {
                var taxYearDef = taxYearDefinitions[taxYear];
                var taxYearLabel = parseInt(taxYear.replace("Single", ""));
                var i = app.min;
                var stepSize = getStepSize(app.min, app.max, app.step);
                while (i <= app.max) {
                    var taxInformation = taxCalculator.getTaxInformation(i, false, taxYearDef.brackets, taxYearDef.standardDeduction);
                    plotlyRow.x.push(i);
                    plotlyRow.y.push(taxYearLabel);
                    plotlyRow.z.push(taxInformation.effectiveTaxRate * 100);
                    plotlyRow.marker.color.push(counter*3);
                    i = parseInt(i) + parseInt(stepSize);
                }
                counter++;
            });
            z_data.push(plotlyRow);
            Plotly.newPlot(app.topologyGraph, z_data, plotlyLayout, {responsive:true});
        }
    </script>
</body>
</html>